html {overflow-y:scroll;overflow-x:hidden;}
body {background-color:#FFFFFF;box-sizing:content-box;}
div {display:block;}
p {line-height:25px;font-size:16px;}
p.negate-margin {margin:0;}

div.page {margin:20px auto 20px auto;width:1100px;padding:0px 20px;border-left:1px solid #AAAAAA;border-right:1px solid #AAAAAA;}
div.logo {margin-top:20px;margin-bottom:20px;}
div.header {margin-top:20px;margin-bottom:20px;}
#index-extra-text {font-size:16px;margin-top:50px;margin-bottom:20px;padding:0;}
div.intro {margin-top:20px;margin-bottom:20px;padding:10px 0;}
div.content {margin-top:20px;}
div.tabs {margin-left:auto;margin-right:auto;width:100%;}
div.tabs:after {content:'';display:block;clear:both;}
div.tab-element {height:100%;width:100%;background-position:15px 15px;width:155px !important;height:80px !important;
	background-repeat:no-repeat;}

h1.header {padding:.3em .5em;border-radius:0 12px 0 0;background-color:#831625;margin-left:0;margin-right:0;color:#ffffff;font-size:1.625em;
	font-weight:bold;font-style:normal;line-height:47px;}

p.title {margin-top: 12px;margin-bottom: 12px;}

a.md-title {color: #255c9f;font-weight: bold;text-decoration:none;}
a.md-title:hover {cursor:pointer;}

.grid {margin-top:20px;margin-bottom:20px;padding-top:5px;padding-bottom:5px;}
.grid:after {content:'';display:block;clear:both;}
.task-element {float:left;width:19.95%;height:85px;display:block;}
.task-outer {height:100%;padding:1px;}
.task-inner {height:100%;background-color:#255c9f;}
.task-inner-active {height:100%;background-color:#0096D2;}
.task-inner:hover {background-color:#0096D2;cursor:pointer;}
.task-title {color:#ffffff;display:inline-block;text-align:left;margin-top:13px;margin-left:50px;line-height:1.2em;font-size:18px;
	padding-right:20px;width:100%;}

.button-ovs {background-color:#831625;color:#ffffff;font-weight:bold;padding:6px 12px;border:1px solid transparent;border-radius: 4px;}
.button-ovs:hover {text-decoration:none;background-color:#DC0000;color:#ffffff;}
.button-ovs:focus {background-color:#DC0000;color:#ffffff;text-decoration:none;}

#search-button {padding-left:12px;padding-right:12px;position:relative;top:-1px;}

.search-field {border-radius: 4px;border: 1px solid #6e6e6e;margin-top: 10px;max-width: 35em;}
.search-bar {margin-top:20px;margin-bottom:20px;background-color:#f4f4f4;padding:20px;}
.search-label {font-weight:normal;}

.header-recent-files {margin-top: 20px;margin-bottom: 20px;margin-right:-15px;margin-left:-15px;}
.files-info {font-size:17px;font-weight:bold;}

.home-metadata, .search-metadata, .browse-metadata {padding:10px 0;border-bottom:1px solid #cbcbcb;margin-top:15px;margin-bottom:15px;}
.metadata-collapsed {display:none;}
#browse-area {margin: 0px 0px 0px 0px;}
.browse-metadata > .row > .browse-title > .titel {margin-top:0;}
.link {background:none!important;border:none;padding:0!important;cursor:pointer;color:#255c9f;text-decoration:underline;}

.filter-options {margin-top: 10px;margin-bottom: 20px;padding: 0px 0px 0px 15px;}
.data-navigation {margin-top: 10px;margin-bottom: 10px;padding: 0px 20px 0px 0px;}
#expand-area {margin-top:5px;}

#header-subjects {margin-top: 20px;margin-bottom: 0px;padding: 0px 0px 0px 15px;}
#browse-info{font-size: 17px;font-weight: bold;}
#subjects-list {border-right: 4px solid #A9A9A9;margin: 20px 10px 20px 20px;}
#subject-selection-buttons {margin: 0px 0px 10px 0px;}

#home-icon {background-position:15px 15px;background-size:25px;}
#search-icon {background-position:15px 15px;background-size:25px;}
#browse-icon {background-position:15px 15px;background-size:25px;}
#about-icon {background-position:15px 15px;background-size:25px;}
#contact-icon {background-position:15px 15px;background-size:25px;}

.md-thumbnail {float:right;width:120px;height:120px;margin-left:20px;margin-bottom:5px;}
.md-thumbnail:hover {cursor:pointer;}
#pager-adjusted {margin-top:0;margin-bottom:5px;}

.paging-disabled {pointer-events:none;}

.link-as-button {appearance:button;-moz-appearance:button;-webkit-appearance:button;position:relative;top:-1px;}