/.classpath
/.project
/.vagrant
.gradle
.cache-main
.settings/
docker-compose.override.yml
geoportaal-conversion.sql.gz
docker/*.crt

# IntelliJ
.idea
*.iml
/.metadata/

wsl-gradle-build.sh
