@(logo: String, 
	dataSources: java.util.List[models.DataSource], 
	publisherTasks: java.util.List[models.PublisherTask],
	harvestInfo: models.portal.HarvestInfo)

@import play.i18n._

@connectionCheck(dataSource: models.DataSource, returnOK: String, returnError: String) = @{
	if("OK".equals(dataSource.getStatus().getType())) {
		returnOK
	} else {
		returnError
	}
}

@main(logo) {
	<div id="content-dashboard">
		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-3 announcement-glyphicon">
									<span class="glyphicon glyphicon-cloud"></span>
								</div>
								<div class="col-xs-7 announcement-heading">
									<span>@Messages.get("index.provider.connection.header")</span>
								</div>
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-info-sign" 
										data-toggle="popover" 
										data-content="@Messages.get("index.provider.connection.popup")"></span>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@if(dataSources.size() == 0) {
							<li class="list-group-item">
								<div>
									<strong>@Messages.get("index.provider.connection.datasources.zero")</strong>
								</div>
							</li>
						} else {
							@for(dataSource <- dataSources) {
								<li class="list-group-item @connectionCheck(dataSource, "datasource-connected", "datasource-not-connected")">
									<div>
										<strong>@dataSource.getName()</strong>
									</div>
									<div>
										<span class="@connectionCheck(dataSource, "text-success", "text-danger")">
											<span class="glyphicon @connectionCheck(dataSource, "glyphicon-ok-sign", "glyphicon-remove-sign")"></span>
											@connectionCheck(dataSource, 
												Messages.get("index.provider.connection.connected"), 
												Messages.get("index.provider.connection.not.connected"))
										</span>
									</div>
								</li>
							}
						}
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-3 announcement-glyphicon">
									<span class="glyphicon glyphicon-tasks"></span>
								</div>
								<div class="col-xs-7 announcement-heading">
									<span>@Messages.get("index.publishertasks.header")</span>
								</div>
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-info-sign" 
										data-toggle="popover" 
										data-content="@Messages.get("index.publishertasks.popup")"></span>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@if(publisherTasks.size() == 0) {
							<li class="list-group-item">
								<div>
									<strong>@Messages.get("index.publishertasks.zero")</strong>
								</div>
							</li>
						} else {
							@for(publisherTask <- publisherTasks) {
								<li class="list-group-item@if(!publisherTask.isSuccess()) { publisher-task-error}">
									<strong>@publisherTask.getType()</strong>
									@publisherTask.getName()
									<div class="text-muted">
										@publisherTask.getTimeFormatted() : 
										@if(publisherTask.isSuccess()) {Ok} else {Fout}
									</div>
								</li>
							}
						}
					</ul>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-3 announcement-glyphicon">
									<span class="glyphicon glyphicon-list-alt"></span>
								</div>
								<div class="col-xs-7 announcement-heading">
									<span>@Messages.get("index.portal.stats.header")</span>
								</div>
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-info-sign" 
										data-toggle="popover" 
										data-content="@Messages.get("index.portal.stats.popup")"></span>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@if(harvestInfo.getDatasetInfo() == null &&
							harvestInfo.getServiceInfo() == null &&
							harvestInfo.getDcInfo() == null) {
							<li class="list-group-item">
								<div>
									<strong>@Messages.get("index.portal.stats.zero")</strong>
								</div>
							</li>
						}
						
						@if(harvestInfo.getDatasetInfo() != null) {
							@portalstat.item(Messages.get("index.portal.stats.datasets"), 
								harvestInfo.getDatasetInfo())
						}
						
						@if(harvestInfo.getServiceInfo() != null) {
							@portalstat.item(Messages.get("index.portal.stats.services"), 
								harvestInfo.getServiceInfo())
						}
						
						@if(harvestInfo.getDcInfo() != null) {
							@portalstat.item(Messages.get("index.portal.stats.dc"), 
								harvestInfo.getDcInfo())
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
}