@(uuid: String, today: String)

@main("Toevoegen", routes.Assets.versioned("javascripts/add-record.js").url) {
	<div class="welkom">
		<p class="welkom">Vul de velden zo volledig mogelijk in.</p>
		<p class="welkom">* = verplicht</p>
	</div>
	
	@helper.form(action = routes.Add.submit(), 'class -> "form-horizontal beheer-formulier") {
		<div class="form-group">
			<label class="col-sm-3 control-label">Unieke ID</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" title="De unieke ID van de data" 
				name="id" value="@uuid" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Locatie*</label>
			<div class="col-sm-8">
				<input class="form-control js-mandatory" type="text" data-toggle="tooltip" data-placement="top" data-field="locatie"
				title="Vul het pad naar het bestand op de computer in" name="location">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Kenmerk</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul het kenmerk in" name="fileId">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Titel*</label>
			<div class="col-sm-8">
				<input class="form-control js-mandatory" type="text" data-toggle="tooltip" data-placement="top" data-field="titel"
				title="Vul de titel in" name="title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Omschrijving*</label>
			<div class="col-sm-8">
				<textarea class="form-control js-mandatory" rows="4" data-toggle="tooltip" data-placement="top" data-field="omschrijving"
				title="Vul de omschrijving in" name="description"></textarea>
			</div>
		</div>
		<div id="js-group-attachment">
			<div class="form-group js-attachment">
				<label class="col-sm-3 control-label">Bijlage</label>
				<div class="col-sm-8 form-inline">
					<input id="input-attachment" type="file" data-toggle="tooltip" data-placement="top" title="Voeg de bijlage(s) toe"
					name="attachment[]">
					<button class="knop js-add-attachment" type="button">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Type informatie</label>
			<div class="col-sm-8">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer het type informatie"
				name="type">
					<option value="none"></option>
					<option value="map">kaart</option>
					<option value="database">database</option>
					<option value="table">tabel</option>
					<option value="application">applicatie</option>
					<option value="drawing">tekening</option>
					<option value="report">rapport</option>
					<option value="website">website</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eindverantwoordelijke*</label>
			<div class="col-sm-8">
				<select id="js-creator-select" class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer de eindverantwoordelijke" name="creator">
					<option value="OvUnitEconomy">Provincie Overijssel: eenheid Economie en Cultuur</option>
					<option value="OvUnitPolicy">Provincie Overijssel: eenheid Bestuurs- en Concernzaken</option>
					<option value="OvUnitManagement">Provincie Overijssel: eenheid Bedrijfsvoering</option>
					<option value="OvUnitProject">Provincie Overijssel: eenheid Project- en Programmamanagement</option>
					<option value="OvUnitSpatial">Provincie Overijssel: eenheid Ruimte en Bereikbaarheid</option>
					<option value="OvUnitNature">Provincie Overijssel: eenheid Natuur en Milieu</option>
					<option value="OvUnitRoads">Provincie Overijssel: eenheid Wegen en Kanalen</option>
					<option value="OvUnitPublic">Provincie Overijssel: eenheid Publieke Dienstverlening</option>
					<option value="other">Andere</option>
				</select>
			</div>
		</div>
		<div class="form-group" id="js-other-creator">
			<label class="col-sm-3 control-label"></label>
			<div class="col-sm-8">
				<input id="js-other-creator-input" class="form-control" type="text" placeholder="Voer eindverantwoordelijke van bestand in">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eigendomsrechten</label>
			<div class="col-sm-8">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de eigendomsrechten"
				name="rights">
					<option value="none"></option>
					<option value="noRestrictions">Geen restricties</option>
					<option value="copyright">Copyright</option>
					<option value="patent">Patent</option>
					<option value="patentFuture">Patent in wording</option>
					<option value="brandName">Merknaam</option>
					<option value="license">Licentie</option>
					<option value="ip">Intellectueel eigendom</option>
					<option value="notAccessible">Niet toegankelijk</option>
					<option value="dataWithDeclaration">Data mag alleen met verklaring uitgeleverd worden</option>
					<option value="dataClassified">Data mag niet uitgeleverd worden</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Gebruiksrestricties*</label>
			<div class="col-sm-8">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de gebruiksrestrictie"
				name="useLimitation">
					<option value="intern">Alleen voor intern gebruik</option>
					<option value="extern">De bron mag ook voor externe partijen vindbaar zijn</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Formaat</label>
			<div class="col-sm-8">
				<select class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer het formaat van de data" name="format">
					<option value="none"></option>
					<option value="adobeIllustrator">Adobe Illustrator: AI</option>
					<option value="freehand">Freehand: FH</option>
					<option value="adobeAcrobat">Adobe Acrobat: PDF</option>
					<option value="microstation">Microstation: DGN</option>
					<option value="autocad">Autocad: DWG DXF</option>
					<option value="paintshop">PaintShop: PSP</option>
					<option value="arcgis">ArcGIS: MXD</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Bron</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de persoon of organisatie waar de bron vandaan komt" name="source">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum creatie</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gemaakt is" name="dateSourceCreation" value="@today">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum publicatie</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" data-toggle="tooltip"  data-placement="top" 
				title="Vul de datum in wanneer de metadata gepubliceerd is" name="dateSourcePublication" value="@today">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum mutatie</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gewijzigd is" name="dateSourceRevision" value="@today">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, van</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in vanaf wanneer de bron geldig is" name="dateSourceValidFrom" value="@today">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, tot</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in tot wanneer de bron geldig is" name="dateSourceValidUntil" value="@today">
			</div>
		</div>
		<div class="form-group" data-toggle="tooltip" data-placement="top" title="Vink de onderwerpen aan die van toepassing zijn op de data">
			<label class="col-sm-3 control-label">ISO onderwerp*</label>
			<div class="col-sm-4">
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="inlandWaters">
					<span>Binnenwater</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="structure">
					<span>Civiele structuren</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="society">
					<span>Cultuur, maatschappij en demografie</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="economy">
					<span>Economie</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="biota">
					<span>Flora en fauna</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="geoscientificInformation">
					<span>Geowetenschappelijke data</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="health">
					<span>Gezondheid</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="boundaries">
					<span>Grenzen</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="elevation">
					<span>Hoogte</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="climatologyMeteorologyAtmosphere">
					<span>Klimatologie, metereologie en atmosfeer</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="farming">
					<span>Landbouw en veeteelt</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="location">
					<span>Locatie</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="intelligenceMilitary">
					<span>Militair</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="environment">
					<span>Natuur en milieu</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="utilitiesCommunication">
					<span>Nutsvoorieningen en communicatie</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="oceans">
					<span>Oceanen</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="imageryBaseMapsEarthCover">
					<span>Referentiemateriaal aardbedekking</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="planningCadastre">
					<span>Ruimtelijke ordening en kadaster</span>
				</div>
				<div>
					<input type="checkbox" class="js-subject-input" name="subject[]" value="transportation">
					<span>Transport en logistiek</span>
				</div>
			</div>
		</div>
		<div id="js-form-warning-fields">
			<div class="alert alert-danger" role="alert">
	 			<b></b>
			</div>
		</div>
		<div id="js-form-warning-subjects">
			<div class="alert alert-danger" role="alert">
	 			<b>Er moet minimaal &#233;&#233;n onderwerp aangevinkt zijn.</b>
			</div>
		</div>
		<div id="js-form-approval">
			<div class="alert alert-success" role="alert">
	 			<b>Het formulier is correct ingevuld.</b>
			</div>
		</div>
		<div class="editor-knoppen">
			<div class="form-group">
				<button id="js-validate-form" class="knop" type="button">Valideren</button>
				<button id="js-save-form" class="knop" type="submit">Opslaan</button>
				<a class="knop" id="js-cancel-form" href="@routes.Add.cancel()">Annuleren</a>
			</div>
		</div>
	}
}