@(genericMsg: String, createMsg: String, publicationMsg: String, validFromMsg: String, validUntilMsg: String, 
	createStartMsg: String, createEndMsg: String, updateStartMsg: String, updateEndMsg: String
)

<div id="js-form-validation-result">
	@if(genericMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@genericMsg</b>
			</div>
		</div>
	}
	
	@if(createMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@createMsg</b>
			</div>
		</div>
	}
	
	@if(publicationMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@publicationMsg</b>
			</div>
		</div>
	}
	
	@if(validFromMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@validFromMsg</b>
			</div>
		</div>
	}
	
	@if(validUntilMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@validUntilMsg</b>
			</div>
		</div>
	}
	
	@if(createStartMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@createStartMsg</b>
			</div>
		</div>
	}
	
	@if(createEndMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@createEndMsg</b>
			</div>
		</div>
	}
	
	@if(updateStartMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@updateStartMsg</b>
			</div>
		</div>
	}
	
	@if(updateEndMsg != null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@updateEndMsg</b>
			</div>
		</div>
	}
</div>