@(form: play.data.Form[User.ChangePassword])

<html lang="en">
	<head>
		<title>Inloggen</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	</head>
	<body>
		<div class="page">	
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
				</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">Wachtwoord wijzigen beheermodule Geoportaal</h1>
			</div>
			<div class="welkom">
				<p>Vul onderstaande velden in om uw wachtwoord te wijzigen.</p>
			</div>
			@if(form.hasGlobalErrors) {
				<div class="alert alert-danger">
					<strong>Wachtwoord wijzigen</strong> @form.globalError.message
				</div>
			}
			@helper.form(action = routes.User.changePassword(), 'class -> "form-horizontal") {
				<fieldset>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">E-mailadres</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" autofocus name="username" placeholder="E-mail">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">Oud wachtwoord</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" name="oldPassword" placeholder="Oud wachtwoord">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">Nieuw wachtwoord</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" name="newPassword" placeholder="Nieuw wachtwoord">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">Herhaal nieuw wachtwoord</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" name="repeatNewPassword" placeholder="Herhaal nieuw wachtwoord">
						</div>
					</div>
					<div class="col-sm-offset-3 col-sm-10">
						<button class="knop knop-correctie" type="submit">Bevestigen</button>
					</div>
				</fieldset>
			}
		</div>
	</body>
</html>