<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Dashboard Geoportaal</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
	</head>
	<body>
		<div class="page">
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned(play.Play.application().configuration().getString("geoportaal.client.logo"))"></img>
				</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">Dashboard Geoportaal</h1>
			</div>
			<div id="content-dashboard">
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-12">
										<div class="col-xs-3 announcement-glyphicon">
											<span class="glyphicon glyphicon-cloud"></span>
										</div>
										<div class="col-xs-7 announcement-heading">
											<span>Connectie GeoPublisher met gegevensbronnen van provider</span>
										</div>
										<div class="col-xs-2">
											<span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Nog in te vullen tekst over connectie met provider"></span>
										</div>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item datasource-connected">
									<div>
										<strong>Overijssel vectordata</strong>
									</div>
									<div>
										<span class="text-success">
											<span class="glyphicon glyphicon-ok-sign"></span> Ok
										</span>
									</div>
								</li>
								<li class="list-group-item datasource-not-connected">
									<div>
										<strong>Overijssel rasterdata</strong>
									</div>
									<div>
										<span class="text-danger">
											<span class="glyphicon glyphicon-remove-sign"></span> Niet verbonden
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-12">
										<div class="col-xs-3 announcement-glyphicon">
											<span class="glyphicon glyphicon-tasks"></span>
										</div>
										<div class="col-xs-7 announcement-heading">
											<span>Laatste 10 systeemtaken GeoPublisher</span>
										</div>
										<div class="col-xs-2">
											<span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Nog in te vullen tekst over systeemtaken"></span>
										</div>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										09-03-2018 11:02:53 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel rasterdata
									<div class="text-muted">
										09-03-2018 11:01:11 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										09-03-2018 10:25:07 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>service</strong>
									B41_bodem_beveiligd
									<div class="text-muted">
										08-03-2018 14:50:12 : Uitgevoerd (publicatie)
									</div>
								</li>
								<li class="list-group-item">
									<strong>import</strong>
									Asbestinventarisatie van daken
									<div class="text-muted">
										08-03-2018 14:46:01 : Ge&#239;mporteerd
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										08-03-2018 14:02:35 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel rasterdata
									<div class="text-muted">
										08-03-2018 14:00:58 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										08-03-2018 13:03:53 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel rasterdata
									<div class="text-muted">
										08-03-2018 13:01:11 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										08-03-2018 12:45:22 : Ok
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-12">
										<div class="col-xs-3 announcement-glyphicon">
											<span class="glyphicon glyphicon-list-alt"></span>
										</div>
										<div class="col-xs-7 announcement-heading">
											<span>Aantal datasets, services en statische 
												kaarten in Geoportaal</span>
										</div>
										<div class="col-xs-2">
											<span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Nog in te vullen tekst over aantal datasets, services en overige datasets"></span>
										</div>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<strong>Datasets</strong>
									<div class="portal-stats">
										<div>extern: 724</div> 
										<div class="text-muted portal-stats-increase">
											Verschil met 7 dagen geleden: <strong>+6</strong>
										</div> 
										<div class="text-muted portal-stats-increase">
											Verschil met 1 dag geleden: <strong>+2</strong>
										</div> 
										<div class="text-muted portal-stats-no-change">
											Verschil met 1 uur geleden: <strong>0</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 1036</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 7 dagen geleden: <strong>+8</strong>
										</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 1 dag geleden: <strong>+3</strong>
										</div>
										<div class="text-muted portal-stats-no-change">
											Verschil met 1 uur geleden: <strong>0</strong>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<strong>Services</strong>
									<div class="portal-stats">
										<div>extern: 84</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 7 dagen geleden: <strong>-3</strong>
										</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 1 dag geleden: <strong>-1</strong>
										</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 1 uur geleden: <strong>-1</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 148</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 7 dagen geleden: <strong>-4</strong>
										</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 1 dag geleden: <strong>-2</strong>
										</div>
										<div class="text-muted portal-stats-decrease">
											Verschil met 1 uur geleden: <strong>-1</strong>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<strong>Overige datasets</strong>
									<div class="portal-stats">
										<div>extern: 292</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 7 dagen geleden: <strong>+5</strong>
										</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 1 dag geleden: <strong>+1</strong>
										</div>
										<div class="text-muted portal-stats-no-change">
											Verschil met 1 uur geleden: <strong>0</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 2568</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 7 dagen geleden: <strong class="text-success">+17</strong>
										</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 1 dag geleden: <strong>+4</strong>
										</div>
										<div class="text-muted portal-stats-increase">
											Verschil met 1 uur geleden: <strong>+1</strong>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/dashboard.js").url" type="text/javascript"></script>
	</body>
</html>