<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Dashboard Geoportaal</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
	</head>
	<body>
		<div class="page">
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned(play.Play.application().configuration().getString("geoportaal.client.logo"))"></img>
				</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">Dashboard Geoportaal</h1>
			</div>
			<div id="content-dashboard">
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-1">
										<p class="announcement-glyphicon">
											<span class="glyphicon glyphicon-cloud"></span>
										</p>
									</div>
									<div class="col-xs-12 text-right">
										<p class="announcement-heading">
											Connectie GeoPublisher met gegevensbronnen van provider
										</p>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div>
										<strong>Overijssel vectordata</strong>
									</div>
									<div>
										<span class="text-success">
											<span class="glyphicon glyphicon-ok-sign"></span> Ok
										</span>
									</div>
								</li>
								<li class="list-group-item">
									<div>
										<strong>Overijssel rasterdata</strong>
									</div>
									<div>
										<span class="text-danger">
											<span class="glyphicon glyphicon-remove-sign"></span> Niet verbonden
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-1">
										<p class="announcement-glyphicon">
											<span class="glyphicon glyphicon-list-alt"></span>
										</p>
									</div>
									<div class="col-xs-12 text-right">
										<p class="announcement-heading">
											Aantal datasets, services en statische kaarten in 
											interne en externe Geoportaal
										</p>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<strong>Datasets</strong>
									<div class="portal-stats">
										<div>extern: 724</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-success">+6</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 1036</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-success">+8</strong>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<strong>Services</strong>
									<div class="portal-stats">
										<div>extern: 84</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-danger">-3</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 148</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-danger">-4</strong>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<strong>Statische kaarten</strong>
									<div class="portal-stats">
										<div>extern: 292</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-success">+5</strong>
										</div>
									</div>
									<div class="portal-stats">
										<div>intern: 2568</div> 
										<div class="text-muted">
											Verschil met 7 dagen geleden: <strong class="text-success">+17</strong>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-info">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-1">
										<p class="announcement-glyphicon">
											<span class="glyphicon glyphicon-tasks"></span>
										</p>
									</div>
									<div class="col-xs-12 text-right">
										<p class="announcement-heading">
											Laatste 5 systeemtaken GeoPublisher
										</p>
									</div>
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										09-03-2018 11:02:53 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel rasterdata
									<div class="text-muted">
										09-03-2018 11:01:11 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>harvest</strong>
									Overijssel vectordata
									<div class="text-muted">
										09-03-2018 10:02:40 : Ok
									</div>
								</li>
								<li class="list-group-item">
									<strong>service</strong>
									B41_bodem_beveiligd
									<div class="text-muted">
										08-03-2018 14:50:12 : Uitgevoerd (publicatie)
									</div>
								</li>
								<li class="list-group-item">
									<strong>import</strong>
									Asbestinventarisatie van daken
									<div class="text-muted">
										08-03-2018 14:46:01 : Ge&#239;mporteerd
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>