@(form: play.data.Form[User.ForgotPassword])

@import play.i18n._

<html lang="en">
	<head>
		<title>@Messages.get("login")</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	</head>
	<body>
		<div class="page">	
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
				</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">@Messages.get("password.forgot.header")</h1>
			</div>
			<div class="welkom">
				<p>@Messages.get("password.forgot.intro")</p>
			</div>
			@if(form.hasGlobalErrors) {
				<div class="alert alert-danger">
					<strong>@Messages.get("password.forgot.form.error.label")</strong> @form.globalError.message
				</div>
			}
			@helper.form(action = routes.User.forgotPassword(), 'class -> "form-horizontal") {
				<fieldset>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label">@Messages.get("password.forgot.email.label")</label>
						<div class="col-sm-4">
							<input class="form-control" type="email" autofocus name="username" placeholder="@Messages.get("password.forgot.email.label")">
						</div>
					</div>
					<div class="col-sm-offset-3 col-sm-10">
						<button class="knop knop-correctie" type="submit">@Messages.get("confirm")</button>
					</div>
				</fieldset>
			}
		</div>
	</body>
</html>