@(create: Boolean, 
	uuid: String, 
	todayUS: String,
	todayLocal: String,  
	datasetRow: com.querydsl.core.Tuple, 
	subjectsDataset: java.util.List[com.querydsl.core.Tuple],
	attachmentsDataset: java.util.List[com.querydsl.core.Tuple], 
	typeInformationList: java.util.List[com.querydsl.core.Tuple], 
	creatorList: java.util.List[com.querydsl.core.Tuple], 
	rightsList: java.util.List[com.querydsl.core.Tuple], 
	useLimitationList: java.util.List[com.querydsl.core.Tuple],
	infoFormatList: java.util.List[com.querydsl.core.Tuple],
	sdfUS: java.text.SimpleDateFormat,
	sdfLocal: java.text.SimpleDateFormat,
	subjectList: java.util.List[com.querydsl.core.Tuple]
)

@import models.QDataset.dataset
@import models.QTypeInformation.typeInformation
@import models.QCreator.creator
@import models.QRights.rights
@import models.QUseLimitation.useLimitation
@import models.QInfoFormat.infoFormat
@import models.QSubject.subject
@import models.QDataAttachment.dataAttachment
@import models.QDataSubject.dataSubject

@main(if(create) {"Toevoegen"} else {"Wijzigen"}, routes.Assets.versioned("javascripts/add-record.js").url) {
	<div class="welkom">
		<p class="welkom">Vul de velden zo volledig mogelijk in.</p>
		<p class="welkom">* = verplicht</p>
	</div>
	
	@helper.form(action = routes.Add.submit(), 'enctype -> "multipart/form-data", 'class -> "form-horizontal beheer-formulier") {
		<div class="form-group">
			<label class="col-sm-3 control-label">Titel*</label>
			<div class="col-sm-7">
				<input class="form-control js-mandatory" type="text" data-toggle="tooltip" data-placement="top" data-field="titel"
				title="Vul de titel in" name="title" value="@if(!create) {@datasetRow.get(dataset.title)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: title">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Omschrijving*</label>
			<div class="col-sm-7">
				<textarea class="form-control js-mandatory" rows="4" data-toggle="tooltip" data-placement="top" data-field="omschrijving"
				title="Vul de omschrijving in" name="description">@if(!create) {@datasetRow.get(dataset.description)}</textarea>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: description">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Locatie*</label>
			<div class="col-sm-7">
				<input class="form-control js-mandatory" type="text" data-toggle="tooltip" data-placement="top" data-field="locatie"
				title="Vul het pad naar het bestand op de computer in" name="location" value="@if(!create) {@datasetRow.get(dataset.location)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Het pad naar het bestand op uw PC">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Kenmerk</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul het kenmerk in" name="fileId" value="@if(!create) {@datasetRow.get(dataset.fileId)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Het kenmerk van de bron">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Unieke ID</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" title="De unieke ID van de data" 
				name="id" value="@if(create) {@uuid} else {@datasetRow.get(dataset.id)}" readonly>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement=top type="button" 
				data-content="Term name: identifier">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div id="js-group-attachment">
			<div class="form-group js-attachment">
				<label class="col-sm-3 control-label">Bijlage</label>
				<div class="col-sm-7 form-inline js-attachment-input">
					<input class="input-attachment" type="file" data-toggle="tooltip" data-placement="top" title="Voeg de bijlage(s) toe"
					name="attachmentName[]">
					<button class="knop js-add-attachment" type="button" title="Bijlage toevoegen">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button class="knop js-empty-attachment" type="button" title="Bijlage leegmaken">
						<span class="glyphicon glyphicon-erase"></span>
					</button>
					
				</div>
				<div class="col-sm-2 js-attachment-tooltip">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
					data-content="Term Name: relation">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
		</div>
		@if(!create) {
			<div id="attachment-files-box" class="col-sm-offset-3 col-sm-8">
				@if(attachmentsDataset != null) {
					@for(attachmentFile <- attachmentsDataset) {
						<p class="attachment-file">@attachmentFile.get(dataAttachment.attachmentName)</p>
					}
				}
			</div>
		}
		
		<div class="form-group">
			<label class="col-sm-3 control-label">Type informatie</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer het type informatie"
				name="typeInfo">
					@for(typeInformationOption <- typeInformationList) {
						<option value="@typeInformationOption.get(typeInformation.identification)" 
						@if(!create && datasetRow.get(dataset.typeInfo) == typeInformationOption.get(typeInformation.identification)) {selected}>
							@typeInformationOption.get(typeInformation.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: type">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eindverantwoordelijke*</label>
			<div class="col-sm-7">
				<select id="js-creator-select" class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer de eindverantwoordelijke" name="creator">
					@for(creatorOption <- creatorList) {
						<option value="@creatorOption.get(creator.identification)" 
						@if(!create && datasetRow.get(dataset.creator) == creatorOption.get(creator.identification)) {selected}>
							@creatorOption.get(creator.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: creator">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group" id="js-other-creator">
			<label class="col-sm-3 control-label"></label>
			<div class="col-sm-7">
				<input id="js-other-creator-input" class="form-control" type="text" placeholder="Voer eindverantwoordelijke van bestand in">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-placement="right">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eigendomsrechten</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de eigendomsrechten"
				name="rights">
					@for(rightsOption <- rightsList) {
						<option value="@rightsOption.get(rights.identification)"
						@if(!create && datasetRow.get(dataset.rights) == rightsOption.get(rights.identification)) {selected}>
							@rightsOption.get(rights.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: rights">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Gebruiksrestricties*</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de gebruiksrestrictie"
				name="useLimitation">
					@for(useLimitationOption <- useLimitationList) {
						<option value="@useLimitationOption.get(useLimitation.identification)"
						@if(!create && datasetRow.get(dataset.useLimitation) == useLimitationOption.get(useLimitation.identification)) {selected}>
							@useLimitationOption.get(useLimitation.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="De gebruiksrestricties van het bestand">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Formaat</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer het formaat van de data" name="format">
					@for(infoFormatOption <- infoFormatList) {
						<option value="@infoFormatOption.get(infoFormat.identification)"
						@if(!create && datasetRow.get(dataset.format) == infoFormatOption.get(infoFormat.identification)) {selected}>
							@infoFormatOption.get(infoFormat.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: format">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Bron</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de persoon of organisatie waar de bron vandaan komt" name="source" 
				value="@if(!create) {@datasetRow.get(dataset.source)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: source">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum creatie</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gemaakt is" id="js-date-creation" name="dateSourceCreation"
				data-create="@create" data-date-create-today-US="@todayUS" data-date-create-today-local="@todayLocal"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(dataset.dateSourceCreation).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(dataset.dateSourceCreation).getTime())"}>
				<input type="hidden" id="js-hidden-date-creation">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: date">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum publicatie</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip"  data-placement="top" 
				title="Vul de datum in wanneer de metadata gepubliceerd is" id="js-date-publication" name="dateSourcePublication"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(dataset.dateSourcePublication).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(dataset.dateSourcePublication).getTime())"}>
				<input type="hidden" id="js-hidden-date-publication">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: date">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum mutatie</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gewijzigd is" id="js-date-revision" name="dateSourceRevision"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(dataset.dateSourceRevision).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(dataset.dateSourceRevision).getTime())"}>
				<input type="hidden" id="js-hidden-date-revision">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: date">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, van</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in vanaf wanneer de bron geldig is" id="js-date-valid-from" name="dateSourceValidFrom"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(dataset.dateSourceValidFrom).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(dataset.dateSourceValidFrom).getTime())"}>
				<input type="hidden" id="js-hidden-date-valid-from">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: date">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, tot</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in tot wanneer de bron geldig is" id="js-date-valid-until" name="dateSourceValidUntil"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(dataset.dateSourceValidUntil).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(dataset.dateSourceValidUntil).getTime())"}>
				<input type="hidden" id="js-hidden-date-valid-until">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: date">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group" data-toggle="tooltip" data-placement="top" title="Vink de onderwerpen aan die van toepassing zijn op de data">
			<label class="col-sm-3 control-label">ISO onderwerp*</label>
			<div class="col-sm-4">
				@for(subjectOption <- subjectList) {
					<div>
						<input type="checkbox" class="js-subject-input" name="subject[]" value="@subjectOption.get(subject.identification)" 
							@if(subjectsDataset != null) {
								@for(subjectChecked <- subjectsDataset) {
									@if(subjectChecked.get(dataSubject.subject) == subjectOption.get(subject.identification)) {checked}
								}
							}
						>
						<span>@subjectOption.get(subject.label)</span>
					</div>
				}
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="Term Name: subject">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div id="js-form-warning-fields">
			<div class="alert alert-danger" role="alert">
	 			<b></b>
			</div>
		</div>
		<div id="js-form-warning-subjects">
			<div class="alert alert-danger" role="alert">
	 			<b>Er moet minimaal &#233;&#233;n onderwerp aangevinkt zijn.</b>
			</div>
		</div>
		<div id="js-form-approval">
			<div class="alert alert-success" role="alert">
	 			<b>Het formulier is correct ingevuld.</b>
			</div>
		</div>
		<div class="editor-knoppen">
			<div class="form-group">
				<button id="js-save-form" class="knop" type="submit">Opslaan</button>
				<a class="knop" id="js-cancel-form" href="@routes.Add.cancel()">Annuleren</a>
			</div>
		</div>
	}
}