@(create: Boolean,
	todayUS: String,
	todayLocal: String,  
	datasetRow: com.querydsl.core.Tuple, 
	subjectsDataset: java.util.List[com.querydsl.core.Tuple],
	attachmentsDataset: java.util.List[com.querydsl.core.Tuple], 
	typeInformationList: java.util.List[com.querydsl.core.Tuple], 
	creatorList: java.util.List[com.querydsl.core.Tuple], 
	rightsList: java.util.List[com.querydsl.core.Tuple], 
	useLimitationList: java.util.List[com.querydsl.core.Tuple],
	mdFormatList: java.util.List[com.querydsl.core.Tuple],
	sdfUS: java.text.SimpleDateFormat,
	sdfLocal: java.text.SimpleDateFormat,
	subjectList: java.util.List[com.querydsl.core.Tuple]
)

@import play.i18n._
@import models.QMetadata.metadata
@import models.QTypeInformation.typeInformation
@import models.QCreator.creator
@import models.QRights.rights
@import models.QUseLimitation.useLimitation
@import models.QMdFormat.mdFormat
@import models.QSubject.subject
@import models.QMdAttachment.mdAttachment
@import models.QMdSubject.mdSubject
@import models.QTypeInformationLabel.typeInformationLabel
@import models.QCreatorLabel.creatorLabel
@import models.QRightsLabel.rightsLabel
@import models.QUseLimitationLabel.useLimitationLabel
@import models.QMdFormatLabel.mdFormatLabel
@import models.QSubjectLabel.subjectLabel

@main(if(create) {"Geoportaal: toevoegen metadata"} else {"Geoportaal: wijzigen metadata"}, routes.Assets.versioned("javascripts/add-record.js").url) {
	<div class="welkom">
		<p class="welkom">Vul de velden zo volledig mogelijk in (* = verplicht)</p>
	</div>
	
	@helper.form(action = if(create) {routes.Metadata.createSubmit()} else {
		routes.Metadata.editSubmit(datasetRow.get(metadata.uuid))}, 'enctype -> "multipart/form-data", 
		'class -> "form-horizontal beheer-formulier", 'id -> "js-form") {
		<div class="form-group">
			<label class="col-sm-3 control-label">Titel*</label>
			<div class="col-sm-7">
				<input class="form-control js-mandatory" id="js-title" type="text" data-toggle="tooltip" data-placement="top" data-field="titel"
				title="Vul de titel in" name="title" value="@if(!create) {@datasetRow.get(metadata.title)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.title.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Omschrijving*</label>
			<div class="col-sm-7">
				<textarea class="form-control js-mandatory" id="js-description" rows="8" data-toggle="tooltip" data-placement="top" data-field="omschrijving"
				title="Vul de omschrijving in" name="description">@if(!create) {@datasetRow.get(metadata.description)}</textarea>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.description.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Locatie*</label>
			<div class="col-sm-7">
				<input class="form-control js-mandatory" id="js-location" type="text" data-toggle="tooltip" data-placement="top" data-field="locatie"
				title="Vul het pad naar het bestand op de computer in" name="location" value="@if(!create) {@datasetRow.get(metadata.location)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.location.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Nummer</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul het kenmerk in" name="fileId" value="@if(!create) {@datasetRow.get(metadata.fileId)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.fileid.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Unieke ID</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" title="De unieke ID van de data" 
				value="@if(create) {@Messages.get("form.id.message.create")} else {@datasetRow.get(metadata.uuid)}" readonly>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement=top type="button" 
				data-content="@Messages.get("form.id.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div id="js-group-attachment">
			<div class="form-group js-attachment">
				<label class="col-sm-3 control-label">Bijlage</label>
				<div class="col-sm-7 form-inline js-attachment-input">
					<input class="input-attachment" type="file" data-toggle="tooltip" data-placement="top" title="Voeg de bijlage(s) toe"
					name="attachmentName[]">
					<button class="knop js-add-attachment" type="button" title="Bijlage toevoegen">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button class="knop js-empty-attachment" type="button" title="Bijlage leegmaken">
						<span class="glyphicon glyphicon-erase"></span>
					</button>
					
				</div>
				<div class="col-sm-2 js-attachment-tooltip">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
					data-content="@Messages.get("form.attachment.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
		</div>
		<div id="attachment-files-box" class="col-sm-offset-3 col-sm-8">
			@if(!create) {
				@if(attachmentsDataset != null) {
					@for(attachmentFile <- attachmentsDataset) {
						<p class="attachment-file">
							<span class="glyphicon glyphicon-remove delete-attachment-button"></span>
							<span>@attachmentFile.get(mdAttachment.attachmentName)</span>
						</p>
					}
				}
			}
			
			<p id="deleted-attachments"></p>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Type informatie</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer het type informatie"
				name="typeInformation">
					@for(typeInformationOption <- typeInformationList) {
						<option value="@typeInformationOption.get(typeInformation.name)" 
						@if(create && typeInformationOption.get(typeInformation.name) == "map") {selected}
						@if(!create && datasetRow.get(metadata.typeInformation) == typeInformationOption.get(typeInformation.id)) {selected}>
							@typeInformationOption.get(typeInformationLabel.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.typeinformation.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eindverantwoordelijke*</label>
			<div class="col-sm-7">
				<select id="js-creator-select" class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer de eindverantwoordelijke" name="creator">
					<option value="none"></option>
					@for(creatorOption <- creatorList) {
						<option value="@creatorOption.get(creator.name)"
						@if(!create && datasetRow.get(metadata.creator) == creatorOption.get(creator.id)) {selected}>
							@creatorOption.get(creatorLabel.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.creator.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group" id="js-other-creator">
			<label class="col-sm-3 control-label"></label>
			<div class="col-sm-7">
				<input id="js-other-creator-input" class="form-control" type="text" name="creatorOther" 
				@if(!create) {value="@datasetRow.get(metadata.creatorOther)"} placeholder="Voer eindverantwoordelijke van bestand in">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-placement="right">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Eigendomsrechten</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de eigendomsrechten"
				name="rights">
					@for(rightsOption <- rightsList) {
						<option value="@rightsOption.get(rights.name)"
						@if(!create && datasetRow.get(metadata.rights) == rightsOption.get(rights.id)) {selected}>
							@rightsOption.get(rightsLabel.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.rights.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Gebruiksrestricties*</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" title="Selecteer de gebruiksrestrictie"
				name="useLimitation">
					@for(useLimitationOption <- useLimitationList) {
						<option value="@useLimitationOption.get(useLimitation.name)"
						@if(!create && datasetRow.get(metadata.useLimitation) == useLimitationOption.get(useLimitation.id)) {selected}>
							@useLimitationOption.get(useLimitationLabel.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.uselimitation.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Formaat applicatie</label>
			<div class="col-sm-7">
				<select class="form-control" data-toggle="tooltip" data-placement="top" 
				title="Selecteer het formaat van de data" name="mdFormat">
					@for(mdFormatOption <- mdFormatList) {
						<option value="@mdFormatOption.get(mdFormat.name)"
						@if(!create && datasetRow.get(metadata.mdFormat) == mdFormatOption.get(mdFormat.id)) {selected}>
							@mdFormatOption.get(mdFormatLabel.label)
						</option>
					}
				</select>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.format.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Bron (leverancier)</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" data-toggle="tooltip" data-placement="top" 
				title="Vul de persoon of organisatie waar de bron vandaan komt" name="source" 
				value="@if(!create) {@datasetRow.get(metadata.source)}">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.source.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum creatie*</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gemaakt is" id="js-date-creation" name="dateSourceCreation"
				data-create="@create" data-date-create-today-US="@todayUS" data-date-create-today-local="@todayLocal"
				@if(!create) {data-date-value-US="@sdfUS.format(datasetRow.get(metadata.dateSourceCreation).getTime())"} 
				@if(!create) {data-date-value-local="@sdfLocal.format(datasetRow.get(metadata.dateSourceCreation).getTime())"}>
				<input type="hidden" id="js-hidden-date-creation">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.date.creation.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum publicatie</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip"  data-placement="top" 
				title="Vul de datum in wanneer de metadata gepubliceerd is" id="js-date-publication" name="dateSourcePublication"
				@if(!create && datasetRow.get(metadata.dateSourcePublication) != null) {
					data-date-value-US="@sdfUS.format(datasetRow.get(metadata.dateSourcePublication).getTime())"} 
				@if(!create && datasetRow.get(metadata.dateSourcePublication) != null) {
					data-date-value-local="@sdfLocal.format(datasetRow.get(metadata.dateSourcePublication).getTime())"}>
				<input type="hidden" id="js-hidden-date-publication">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.date.publication.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum mutatie</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in wanneer de metadata gewijzigd is" id="js-date-revision" name="dateSourceRevision"
				@if(!create && datasetRow.get(metadata.dateSourceRevision) != null) {
					data-date-value-US="@sdfUS.format(datasetRow.get(metadata.dateSourceRevision).getTime())"} 
				@if(!create && datasetRow.get(metadata.dateSourceRevision) != null) {
					data-date-value-local="@sdfLocal.format(datasetRow.get(metadata.dateSourceRevision).getTime())"}>
				<input type="hidden" id="js-hidden-date-revision">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.date.revision.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, van</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in vanaf wanneer de bron geldig is" id="js-date-valid-from" name="dateSourceValidFrom"
				@if(!create && datasetRow.get(metadata.dateSourceValidFrom) != null) {
					data-date-value-US="@sdfUS.format(datasetRow.get(metadata.dateSourceValidFrom).getTime())"} 
				@if(!create && datasetRow.get(metadata.dateSourceValidFrom) != null) {
					data-date-value-local="@sdfLocal.format(datasetRow.get(metadata.dateSourceValidFrom).getTime())"}>
				<input type="hidden" id="js-hidden-date-valid-from">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.date.valid.start.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Datum geldig, tot</label>
			<div class="col-sm-4">
				<input class="form-control js-date" type="date" data-toggle="tooltip" data-placement="top" 
				title="Vul de datum in tot wanneer de bron geldig is" id="js-date-valid-until" name="dateSourceValidUntil"
				@if(!create && datasetRow.get(metadata.dateSourceValidUntil) != null) {
					data-date-value-US="@sdfUS.format(datasetRow.get(metadata.dateSourceValidUntil).getTime())"} 
				@if(!create && datasetRow.get(metadata.dateSourceValidUntil) != null) {
					data-date-value-local="@sdfLocal.format(datasetRow.get(metadata.dateSourceValidUntil).getTime())"}>
				<input type="hidden" id="js-hidden-date-valid-until">
			</div>
			<div class="col-sm-offset-3 col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.date.valid.end.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div class="form-group" data-toggle="tooltip" data-placement="top" title="Vink de onderwerpen aan die van toepassing zijn op de data">
			<label class="col-sm-3 control-label">ISO onderwerp*</label>
			<div class="col-sm-7">
				<div class="col-sm-6">
					@for(subjectOption <- subjectList) {
						@if(subjectOption.get(subject.id) < 11) {
							<div>
								<label class="checkbox-inline">
									<input type="checkbox" class="js-subject-input" name="subject[]" value="@subjectOption.get(subject.name)" 
										@if(subjectsDataset != null) {
											@for(subjectChecked <- subjectsDataset) {
												@if(subjectChecked.get(mdSubject.subject) == subjectOption.get(subject.id)) {checked}
											}
										}
									>@subjectOption.get(subjectLabel.label)
								</label>
							</div>
						}
					}
				</div>
				<div class="col-sm-6">
					@for(subjectOption <- subjectList) {
						@if(subjectOption.get(subject.id) > 10) {	
							<div>
								<label class="checkbox-inline">
									<input type="checkbox" class="js-subject-input" name="subject[]" value="@subjectOption.get(subject.name)" 
										@if(subjectsDataset != null) {
											@for(subjectChecked <- subjectsDataset) {
												@if(subjectChecked.get(mdSubject.subject) == subjectOption.get(subject.id)) {checked}
											}
										}
									>@subjectOption.get(subjectLabel.label)
								</label>
							</div>
						}
					}
				</div>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" 
				data-content="@Messages.get("form.subject.tooltip")">
					<span class="glyphicon glyphicon-info-sign"></span>
				</button>
			</div>
		</div>
		<div id="js-form-validation"></div>
		<div class="editor-knoppen">
			<div class="form-group">
				<button id="js-save-form" class="knop" type="button" @if(create) {data-id="create"} else {data-id=@datasetRow.get(metadata.uuid)}>Opslaan</button>
				<a class="knop" id="js-cancel-form" href="@routes.Metadata.cancel()">Annuleren</a>
			</div>
		</div>
	}
}