@(roleId: Integer)

@import play.i18n._

@main(Messages.get("help.header"), "", "none", "none", "", "", roleId, "") {
	<p class="with-margin">@Html(Messages.get("help.paragraph.1"))</p>
	<p class="with-margin">@Messages.get("help.paragraph.2")</p>
	<p class="with-margin">@Messages.get("help.paragraph.3")</p>
	<p class="with-margin">@Messages.get("help.paragraph.4")</p>
	<p class="with-margin">@Messages.get("help.paragraph.5")</p>
	<p class="with-margin">@Messages.get("help.paragraph.6")</p>
	<p class="with-margin">@Messages.get("help.paragraph.7")</p>
	<p class="with-margin">@Messages.get("help.paragraph.8")</p>
	<p class="with-margin">@Messages.get("help.paragraph.9")</p>
}