@(datasetRows: java.util.List[com.querydsl.core.Tuple], 
	supplierList: java.util.List[com.querydsl.core.Tuple],
	statusList: java.util.List[com.querydsl.core.Tuple],
	sdf: java.text.SimpleDateFormat,
	sdfLocal: java.text.SimpleDateFormat,
	roleId: Integer,
	textSearch: String,
	supplierSearch: String,
	statusSearch: String,
	dateCreateStartSearch: String,
	dateCreateEndSearch: String,
	tsCreateStartSearch: java.sql.Timestamp,
	tsCreateEndSearch: java.sql.Timestamp,
	dateUpdateStartSearch: String,
	dateUpdateEndSearch: String,
	tsUpdateStartSearch: java.sql.Timestamp,
	tsUpdateEndSearch: java.sql.Timestamp,
	sort: String,
	checkedList: java.util.List[String],
	datasetCount: Long
	)

@import play.i18n._
@import play.mvc.Controller.flash
@import play.mvc.Http
@import models.QMetadata.metadata
@import models.QStatus.status
@import models.QMdFormat.mdFormat
@import models.QStatusLabel.statusLabel
@import models.QMdFormatLabel.mdFormatLabel
@import models.QUser.user

@main(Messages.get("index.header"), textSearch, supplierSearch, statusSearch, dateCreateStartSearch, 
	dateCreateEndSearch, dateUpdateStartSearch, dateUpdateEndSearch, roleId, 
	routes.Assets.versioned("javascripts/index.js").url) {
	
	@if(flash.containsKey("attachmentSkipped")) {
		<div>
			<div class="alert alert-warning">
				@flash.get("attachmentSkipped")
			</div>
		</div>
	}
	
	<div class="welkom">
		<p>@Messages.get("index.intro")</p>
	</div>
	
	<div id="search-block">
		@helper.form(action = routes.Index.search(), 'class -> "form-horizontal", 'id -> "js-form") {
			<div class="form-group">
				<label class="col-sm-3 control-label">@Messages.get("index.text.label")</label>
				<div class="col-sm-7">
					<input class="form-control js-search-input" type="text" data-toggle="tooltip" data-placement="top" 
					title="@Messages.get("index.text.title")" name="text"
					@if(!textSearch.equals("")) {value="@textSearch"}>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.text.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			@if(!roleId.equals(2)) {
				<div class="form-group">
					<label class="col-sm-3 control-label">@Messages.get("index.supplier.label")</label>
					<div class="col-sm-7">
						<select class="form-control" data-toggle="tooltip" data-placement="top" title="@Messages.get("index.supplier.title")" name="supplier">
							<option value="none"></option>
							@for(supplierOption <- supplierList) {
								<option value="@supplierOption.get(user.label)" 
									@if(supplierOption.get(user.label).equals(supplierSearch)) {selected}>
										@supplierOption.get(user.label)
								</option>
							}
						</select>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
						data-content="@Messages.get("index.supplier.tooltip")">
							<span class="glyphicon glyphicon-info-sign"></span>
						</button>
					</div>
				</div>
			} else {
				<input type="hidden" name="supplier" value="none">
			}
			<div class="form-group">
				<label class="col-sm-3 control-label">@Messages.get("index.status.label")</label>
				<div class="col-sm-7">
					<select class="form-control" data-toggle="tooltip" data-placement="top" title="@Messages.get("index.status.title")" name="status">
						@for(statusOption <- statusList) {
							@if(roleId.equals(2) && statusOption.get(status.name).equals("deleted")) {
								
							} else {
								<option value="@statusOption.get(status.name)"
									@if(statusOption.get(status.name).equals(statusSearch)) {selected}>
										@statusOption.get(statusLabel.label)
								</option>
							}
						}
					</select>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.status.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">@Messages.get("index.date.create.start.label")</label>
				<div class="col-sm-4">
					<input class="form-control js-date" id="js-date-create-start" type="date" data-toggle="tooltip" data-placement="top" 
					title="@Messages.get("index.date.create.start.title")" name="dateCreateStart" data-language="@Http.Context.current().lang().code()"
					@if(tsCreateStartSearch != null) {value="@sdf.format(tsCreateStartSearch.getTime())"}>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.date.create.start.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="js-date-update-end">@Messages.get("index.date.create.end.label")</label>
				<div class="col-sm-4">
					<input class="form-control js-date" id="js-date-create-end" type="date" data-toggle="tooltip" data-placement="top" 
					title="@Messages.get("index.date.create.end.title")" name="dateCreateEnd" data-language="@Http.Context.current().lang().code()"
					@if(tsCreateEndSearch != null) {value="@sdf.format(tsCreateEndSearch.getTime())"}>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.date.create.end.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">@Messages.get("index.date.update.start.label")</label>
				<div class="col-sm-4">
					<input class="form-control js-date" id="js-date-update-start" type="date" data-toggle="tooltip" data-placement="top" 
					title="@Messages.get("index.date.update.start.title")" name="dateUpdateStart" data-language="@Http.Context.current().lang().code()"
					@if(tsUpdateStartSearch != null) {value="@sdf.format(tsUpdateStartSearch.getTime())"}>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.date.update.start.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="js-date-update-end">@Messages.get("index.date.update.end.label")</label>
				<div class="col-sm-4">
					<input class="form-control js-date" id="js-date-update-end" type="date" data-toggle="tooltip" data-placement="top" 
					title="@Messages.get("index.date.update.end.title")" name="dateUpdateEnd" data-language="@Http.Context.current().lang().code()"
					@if(tsUpdateEndSearch != null) {value="@sdf.format(tsUpdateEndSearch.getTime())"}>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" data-trigger="focus" data-toggle="popover" data-placement="top" type="button" tabindex="-1"
					data-content="@Messages.get("index.date.update.end.tooltip")">
						<span class="glyphicon glyphicon-info-sign"></span>
					</button>
				</div>
			</div>
			<div class="col-sm-offset-3" id="js-form-validation"></div>
			<div class="form-group">
	 			<div class="col-sm-offset-3 col-sm-7">
	 				<button class="knop" id="search-button" type="button">@Messages.get("index.button.search")</button>
	 				@if(!textSearch.equals("") || !supplierSearch.equals("none") || !statusSearch.equals("none") ||
	 					tsCreateStartSearch != null || tsCreateEndSearch != null ||
	 					tsUpdateStartSearch != null || tsUpdateEndSearch != null) {
	 					<a class="knop" id="filter-button" 
	 						href="@routes.Index.index("", "none", "none", "", "", "", "")">@Messages.get("index.button.filter.clear")</a>
	 				}
				</div>
			</div>
		}
	</div>
	<div class="label-count-records col-sm-12">
		<span>@Messages.get("index.records.count.label") @datasetCount</span><span> | </span><span>@Messages.get("index.records.selected.label") </span><span id="js-selected-records">0</span>
	</div>
	<div class="label-actions-selected-records col-sm-12">
		<span>@Messages.get("index.button.action.label")</span>
	</div>
	<div class="admin-buttons col-sm-12">
		<div class="form-group">
			<button class="knop js-status js-restriction" type="button" data-status="concept">@Messages.get("index.button.action.concept")</button>
			<button class="knop js-status js-restriction" type="button" data-status="approval">@Messages.get("index.button.action.approval")</button>
			@if(!roleId.equals(2)) {
				<button class="knop js-status" type="button" data-status="published">@Messages.get("index.button.action.publish")</button>
			}
			<button class="knop js-restriction" id="js-delete" type="button" data-toggle="modal" 
				data-target="#delete-modal">@Messages.get("index.button.action.delete")</button>
			@if(!roleId.equals(2)) {
				<button class="knop" type="button" id="js-edit-supplier">@Messages.get("index.button.action.supplier.edit")</button>
				<select class="form-control" id="edit-supplier-select">
					<option>--</option>
					@for(supplierOption <- supplierList) {
						<option value="@supplierOption.get(user.label)">@supplierOption.get(user.label)</option>
					}
				</select>
			}
		</div>
	</div>
	<div id="published-warning">
		<strong>@Messages.get("index.warning.published.record")</strong>
	</div>
	
	@views.html.list(datasetRows, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, dateCreateStartSearch, dateCreateEndSearch, dateUpdateStartSearch, dateUpdateEndSearch, sort, checkedList)
	<div id="version-info">
		@Messages.get("application.name"): @getClass().getPackage().getImplementationVersion()
	</div>
	
	@helper.form(action = routes.Index.changeStatus(), 'id -> "js-status-form") {
		<div id="js-status-records"></div>
		<input type="hidden" id="js-status-value" name="status">
		<input type="hidden" name="textSearch" value="@textSearch">
		<input type="hidden" name="supplierSearch" value="@supplierSearch">
		<input type="hidden" name="statusSearch" value="@statusSearch">
		<input type="hidden" name="dateCreateStartSearch" value="">
		<input type="hidden" name="dateCreateEndSearch" value="">
		<input type="hidden" name="dateUpdateStartSearch" value="">
		<input type="hidden" name="dateUpdateEndSearch" value="">
		<div class="modal fade" id="status-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h4 class="modal-title">@Messages.get("index.modal.status.title")</h4>
					</div>
					<div class="modal-body">
						<div class="js-records-selected">
							<p>
								@Messages.get("index.modal.action.label") <b><span id="js-status-records-count">0</span></b>
							</p>
							<p>
								@Messages.get("index.modal.confirmation")
							</p>
						</div>
						
						<p class="js-records-none-selected">@Messages.get("index.modal.none.selected")</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("cancel")</button>
						<button type="submit" class="btn btn-primary js-execute-btn">@Messages.get("execute")</button>
					</div>
				</div>
			</div>
		</div>
	}
	
	@helper.form(action = routes.Index.deleteMetadata()) {
		<div id="js-delete-records"></div>
		<input type="hidden" name="textSearch" value="@textSearch">
		<input type="hidden" name="supplierSearch" value="@supplierSearch">
		<input type="hidden" name="statusSearch" value="@statusSearch">
		<input type="hidden" name="dateCreateStartSearch" value="">
		<input type="hidden" name="dateCreateEndSearch" value="">
		<input type="hidden" name="dateUpdateStartSearch" value="">
		<input type="hidden" name="dateUpdateEndSearch" value="">
		<div class="modal fade" id="delete-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h4 class="modal-title">@Messages.get("index.modal.delete.title")</h4>
					</div>
					<div class="modal-body">
						<div class="js-records-selected">
							<p>
								@Messages.get("index.modal.action.label") <b><span id="js-delete-records-count">0</span></b>
							</p>
							<p>
								@Messages.get("index.modal.confirmation")
							</p>
						</div>
						<p id="perm-delete-checkbox">
							<input type="checkbox" name="permDel" value="true">
							<span>@Messages.get("index.modal.delete.definitive")</span>
						</p>
						
						<p class="js-records-none-selected">@Messages.get("index.modal.none.selected")</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("cancel")</button>
						<button type="submit" class="btn btn-primary js-execute-btn">@Messages.get("execute")</button>
					</div>
				</div>
			</div>
		</div>
	}
	
	@helper.form(action = routes.Index.changeSupplier(), 'id -> "js-supplier-form") {
		<div id="js-supplier-records"></div>
		<input type="hidden" id="js-supplier-value" name="supplier">
		<input type="hidden" name="textSearch" value="@textSearch">
		<input type="hidden" name="supplierSearch" value="@supplierSearch">
		<input type="hidden" name="statusSearch" value="@statusSearch">
		<input type="hidden" name="dateCreateStartSearch" value="">
		<input type="hidden" name="dateCreateEndSearch" value="">
		<input type="hidden" name="dateUpdateStartSearch" value="">
		<input type="hidden" name="dateUpdateEndSearch" value="">
		<div class="modal fade" id="supplier-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
						<h4 class="modal-title">@Messages.get("index.modal.supplier.title")</h4>
					</div>
					<div class="modal-body">
						<div class="js-records-selected">
							<p>
								@Messages.get("index.modal.action.label") <b><span id="js-supplier-records-count">0</span></b>
							</p>
							<p>
								@Messages.get("index.modal.confirmation")
							</p>
						</div>
						
						<p class="js-records-none-selected">@Messages.get("index.modal.none.selected")</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("cancel")</button>
						<button type="submit" class="btn btn-primary js-execute-btn">@Messages.get("execute")</button>
					</div>
				</div>
			</div>
		</div>
	}
	
}