@(page: Integer,
	datasetRow: com.querydsl.core.Tuple,
	sdfLocal: java.text.SimpleDateFormat,
	roleId: Integer,
	textSearch: String,
	supplierSearch: String,
	statusSearch: String,
	mdFormatSearch: String,
	dateStartSearch: String,
	dateEndSearch: String,
	checkedList: java.util.List[String]
	)

@import play.i18n._
@import models.QMetadata.metadata
@import models.QStatusLabel.statusLabel
@import models.QUser.user

<tr class="js-index-page js-index-page-@page">
	<td>
		<input type="checkbox" class="js-check js-record-checkbox" data-uuid="@datasetRow.get(metadata.uuid)"
			data-role="@roleId" data-status="@datasetRow.get(metadata.status)" @if(checkedList.contains(datasetRow.get(metadata.uuid))) {checked}>
	</td>
	<td>
		<a href="@routes.Metadata.getMetadata(datasetRow.get(metadata.uuid))" target="_blank">
			<span class="action-button glyphicon glyphicon-eye-open" title="@Messages.get("list.action.view")"></span>
		</a>
		<a href="@routes.Metadata.renderEditForm(datasetRow.get(metadata.uuid), textSearch, supplierSearch, statusSearch, mdFormatSearch, dateStartSearch, dateEndSearch)"
			@if(datasetRow.get(metadata.status).equals(4)) {class="edit-btn-published"}>
			<span class="action-button glyphicon glyphicon-edit" title="@Messages.get("list.action.edit")"></span>
		</a>
	</td>
	<td>@datasetRow.get(metadata.fileId)</td>
	<td>@datasetRow.get(metadata.title)</td>
	<td>@datasetRow.get(user.label)</td>
	<td>@datasetRow.get(statusLabel.label)</td>
	<td>@sdfLocal.format(datasetRow.get(metadata.lastRevisionDate).getTime())</td>
</tr>