@(datasetRows: java.util.List[com.querydsl.core.Tuple],
	sdfLocal: java.text.SimpleDateFormat,
	roleId: Integer,
	textSearch: String,
	supplierSearch: String,
	statusSearch: String,
	mdFormatSearch: String,
	dateStartSearch: String,
	dateEndSearch: String,
	sort: String,
	checkedList: java.util.List[String]
	)

@import play.i18n._
@import models.QMetadata.metadata
@import models.QStatusLabel.statusLabel
@import models.QUser.user

@helper.form(action = routes.Index.sort(), 'id -> "js-form") {
	<div class="overzicht-records">
		<input type="hidden" name="text" value="@textSearch">
		<input type="hidden" name="supplier" value="@supplierSearch">
		<input type="hidden" name="status" value="@statusSearch">
		<input type="hidden" name="format" value="@mdFormatSearch">
		<input type="hidden" name="dateUpdateStart" value="@dateStartSearch">
		<input type="hidden" name="dateUpdateEnd" value="@dateEndSearch">
		<div id="js-sort-records"></div>
		
		<table class="col-sm-offset-0 table table-bordered" id="list-table">
			<tbody>
				<tr>
					<th id="check-column">
						<input type="checkbox" id="js-check-all" class="js-check" data-page="1">
					</th>
					<th id="actions-column">
						@Messages.get("list.action.header")
					</th>
					<th id="number-column">
						<span class="col-sm-8 table-header">@Messages.get("list.number.header")</span>
						<div class="col-sm-4 sort-group">
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-bottom sort-button 
								@if("numberDesc".equals(sort)) {sort-active}" name="sort" value="numberDesc"></button>
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-top sort-button 
								@if("numberAsc".equals(sort)) {sort-active}" name="sort" value="numberAsc"></button>
						</div>
					</th>
					<th id="title-column">
						<span class="col-sm-8 table-header">@Messages.get("list.title.header")</span>
						<div class="col-sm-4 sort-group">
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-bottom sort-button 
								@if("titleDesc".equals(sort)) {sort-active}" name="sort" value="titleDesc"></button>
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-top sort-button 
								@if("titleAsc".equals(sort)) {sort-active}" name="sort" value="titleAsc"></button>
						</div>
					</th>
					<th id="supplier-column">
						<span class="col-sm-8 table-header">@Messages.get("list.supplier.header")</span>
						<div class="col-sm-4 sort-group">
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-bottom sort-button 
								@if("supplierDesc".equals(sort)) {sort-active}" name="sort" value="supplierDesc"></button>
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-top sort-button 
								@if("supplierAsc".equals(sort)) {sort-active}" name="sort" value="supplierAsc"></button>
						</div>
					</th>
					<th id="status-column">
						<span class="col-sm-8 table-header">@Messages.get("list.status.header")</span>
						<div class="col-sm-4 sort-group">
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-bottom sort-button 
								@if("statusDesc".equals(sort)) {sort-active}" name="sort" value="statusDesc"></button>
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-top sort-button 
								@if("statusAsc".equals(sort)) {sort-active}" name="sort" value="statusAsc"></button>
						</div>
					</th>
					<th id="date-column">
						<span class="col-sm-8 table-header">@Messages.get("list.date.header")</span>
						<div class="col-sm-4 sort-group">
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-bottom sort-button 
								@if("dateDesc".equals(sort)) {sort-active}" name="sort" value="dateDesc"></button>
							<button type="submit" class="pull-right glyphicon glyphicon-triangle-top sort-button 
								@if("dateAsc".equals(sort)) {sort-active}" name="sort" value="dateAsc"></button>
						</div>
					</th>
				</tr>
				@for(datasetRow <- datasetRows) {
					@if(datasetRows.indexOf(datasetRow) > -1 && datasetRows.indexOf(datasetRow) < 20) {	
						@views.html.listpage(1, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 19 && datasetRows.indexOf(datasetRow) < 40) {	
						@views.html.listpage(2, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 39 && datasetRows.indexOf(datasetRow) < 60) {	
						@views.html.listpage(3, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 59 && datasetRows.indexOf(datasetRow) < 80) {	
						@views.html.listpage(4, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 79 && datasetRows.indexOf(datasetRow) < 100) {	
						@views.html.listpage(5, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 99 && datasetRows.indexOf(datasetRow) < 120) {	
						@views.html.listpage(6, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 119 && datasetRows.indexOf(datasetRow) < 140) {	
						@views.html.listpage(7, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 139 && datasetRows.indexOf(datasetRow) < 160) {	
						@views.html.listpage(8, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 159 && datasetRows.indexOf(datasetRow) < 180) {	
						@views.html.listpage(9, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					} @if(datasetRows.indexOf(datasetRow) > 179 && datasetRows.indexOf(datasetRow) < 200) {	
						@views.html.listpage(10, datasetRow, sdfLocal, roleId, textSearch, supplierSearch, statusSearch, mdFormatSearch, 
							dateStartSearch, dateEndSearch, checkedList)
					}
				}
			</tbody>
		</table>
	</div>
	<nav id="list-pager">
		<ul class="pagination">
			@if(datasetRows.size() > 0) {
				<li class="js-page-status active" id="js-page-status-1">
					<a class="js-index-page-btn" id="js-index-page-btn-1" data-page="1">1</a>
				</li>
			} @if(datasetRows.size() > 20) {
				<li class="js-page-status" id="js-page-status-2">
					<a class="js-index-page-btn" id="js-index-page-btn-2" data-page="2">2</a>
				</li>
			} @if(datasetRows.size() > 40) {
				<li class="js-page-status" id="js-page-status-3">
					<a class="js-index-page-btn" id="js-index-page-btn-3" data-page="3">3</a>
				</li>
			} @if(datasetRows.size() > 60) {
				<li class="js-page-status" id="js-page-status-4">
					<a class="js-index-page-btn" id="js-index-page-btn-4" data-page="4">4</a>
				</li>
			} @if(datasetRows.size() > 80) {
				<li class="js-page-status" id="js-page-status-5">
					<a class="js-index-page-btn" id="js-index-page-btn-5" data-page="5">5</a>
				</li>
			} @if(datasetRows.size() > 100) {
				<li class="js-page-status" id="js-page-status-6">
					<a class="js-index-page-btn" id="js-index-page-btn-6" data-page="6">6</a>
				</li>
			} @if(datasetRows.size() > 120) {
				<li class="js-page-status" id="js-page-status-7">
					<a class="js-index-page-btn" id="js-index-page-btn-7" data-page="7">7</a>
				</li>
			} @if(datasetRows.size() > 140) {
				<li class="js-page-status" id="js-page-status-8">
					<a class="js-index-page-btn" id="js-index-page-btn-8" data-page="8">8</a>
				</li>
			} @if(datasetRows.size() > 160) {
				<li class="js-page-status" id="js-page-status-9">
					<a class="js-index-page-btn" id="js-index-page-btn-9" data-page="9">9</a>
				</li>
			} @if(datasetRows.size() > 180) {
				<li class="js-page-status" id="js-page-status-10">
					<a class="js-index-page-btn" id="js-index-page-btn-10" data-page="10">10</a>
				</li>
			}
		</ul>
	</nav>
}