@(form: play.data.Form[User.Login])

<html lang="en">
    <head>
        <title>Inloggen</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
    </head>
    <body class="layout-centered">
        <div class="panel panel-default panel-centered">
			<div class="panel-heading">
				<h3 class="panel-title">Inloggen</h3>
			</div>
			<div class="panel-body">
		
				@if(form.hasGlobalErrors) {
					<div class="alert alert-danger">
						<strong>Inloggen mislukt</strong> @form.globalError.message
					</div>
				}
				
				<form role="form" method="POST" action="@routes.User.authenticate()">
					<input type="hidden" name="returnUrl" value="@form("returnUrl").value">
					<fieldset>
						<div class="form-group">
							<input class="form-control" type="text" autofocus name="username" placeholder="E-mail" 
							value="@form("username").value">
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" placeholder="Wachtwoord">
						</div>
						<button class="btn btn-lg btn-success btn-block" href="@routes.Index.index()" type="submit">Inloggen</button>
					</fieldset>
				</form>
			</div>
		</div>
    </body>
</html>