@(form: play.data.Form[User.Login])

<html lang="en">
	<head>
		<title>Inloggen</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	</head>
	<body>
		<div class="page">	
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
				</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">Inloggen beheermodule Geoportaal</h1>
			</div>
			<div class="welkom">
				<p>Vul onderstaande velden in om in te loggen.</p>
			</div>
			@if(form.hasGlobalErrors) {
				<div class="alert alert-danger">
					<strong>Inloggen mislukt</strong> @form.globalError.message
				</div>
			}
			@helper.form(action = routes.User.authenticate(), 'class -> "form-horizontal") {
				<input type="hidden" name="returnUrl" value="@form("returnUrl").value">
				<fieldset>
					<div class="form-group col-sm-12">
						<label class="col-sm-2 control-label">E-mailadres</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" autofocus name="username" placeholder="E-mail" value="@form("username").value">
						</div>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-2 control-label">Wachtwoord</label>
						<div class="col-sm-4">
							<input class="form-control" type="password" name="password" placeholder="Wachtwoord">
						</div>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<button class="knop knop-correctie" type="submit">Inloggen</button>
						<a class="knop knop-correctie" id="password-edit-button" href="@routes.User.renderChangePassword()">Wachtwoord wijzigen</a>
						<a class="knop knop-correctie" id="password-forgot-button" href="@routes.User.renderForgotPassword()">Wachtwoord vergeten</a>
					</div>
				</fieldset>
			}
		</div>
	</body>
</html>