@(title: String, 
	textSearch: String,
	supplierSearch: String,
	statusSearch: String,
	mdFormatSearch: String,
	dateStartSearch: String,
	dateEndSearch: String,
	jsMain: String)(content: Html)

@import play.i18n._

<!DOCTYPE html>

<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	</head>
	<body>
		<div class="page">
			<div class="logo">
				<a>
					<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
				</a>
				<a class="btn btn-default pull-right" href="@routes.User.logout()">@Messages.get("logout")</a>
			</div>
			<div class="titelbalk">
				<h1 class="header">@title</h1>
			</div>
			<div class="grid">
				<div class="tabs">
					<a href="@routes.Index.index("", "none", "none", "none", "", "")">
						<div class="toptaak-element" id="js-element-index">
							<div class="toptaak-outer">
								<div class="@if(title == Messages.get("index.header") || title == Messages.get("form.edit.header")) {toptaak-inner-active} else {toptaak-inner}">
									<div class="tab-element search-icon" style="background-image:url(@routes.Assets.versioned("images/search.png"))">
										<span class="toptaak-titel">
											@Messages.get("main.tab.index")
										</span>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="@routes.Metadata.renderCreateForm(textSearch, supplierSearch, statusSearch, mdFormatSearch, dateStartSearch, dateEndSearch)">
						<div class="toptaak-element" id="js-element-create">
							<div class="toptaak-outer">
								<div class="@if(title == Messages.get("form.create.header")) {toptaak-inner-active} else {toptaak-inner}">
									<div class="tab-element add-icon" style="background-image:url(@routes.Assets.versioned("images/add.png"))">
										<span class="toptaak-titel">
											@Messages.get("main.tab.add")
										</span>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a href="@routes.Help.renderHelp()" target="_blank">
						<div class="toptaak-element" id="js-element-help">
							<div class="toptaak-outer">
								<div class="@if(title == Messages.get("help.header")) {toptaak-inner-active} else {toptaak-inner}">
									<div class="tab-element help-icon" style="background-image:url(@routes.Assets.versioned("images/help.png"))">
										<span class="toptaak-titel">
											@Messages.get("main.tab.help")
										</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			@content
		</div>
		<script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/modernizr/modernizr.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("lib/dojo/dojo/dojo.js")" type="text/javascript"></script>
		<script src="@routes.Index.jsRoutes()" type="text/javascript"></script>
		<script src="@jsMain" type="text/javascript"></script>
	</body>
</html>