@(title: String, jsMain: String)(content: Html)

@import play.i18n._

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div class="logo">
			<a>
				<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
			</a>
			<a class="btn btn-default pull-right" href="@routes.User.logout()">Uitloggen</a>
		</div>
		<div class="titelbalk">
			<h1 class="header">@title</h1>
		</div>
		<div class="grid">
			<div class="tabs">
				<div class="toptaak-element">
					<div class="toptaak-outer">
						<div class="@if(title == "Geoportaal: toevoegen metadata") {toptaak-inner-active} else {toptaak-inner}">
							<a class="tabs add-icon" href="@routes.Metadata.renderCreateForm()" 
							style="background-image:url(@routes.Assets.versioned("images/add.png"))">
								<span class="toptaak-titel">
									Toevoegen
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="toptaak-element">
					<div class="toptaak-outer">
						<div class="@if(title == Messages.get("index.header") || title == "Geoportaal: wijzigen metadata") {toptaak-inner-active} else {toptaak-inner}">
							<a class="tabs search-icon" href="@routes.Index.index()"
							style="background-image:url(@routes.Assets.versioned("images/search.png"))">
								<span class="toptaak-titel">
									Zoeken en wijzigen									
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
        @content
        <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/jquery-ui/jquery-ui.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/modernizr/modernizr.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/dojo/dojo/dojo.js")" type="text/javascript"></script>
        <script src="@routes.Index.jsRoutes()" type="text/javascript"></script>
        <script src="@jsMain" type="text/javascript"></script>
    </body>
</html>