@(roleId: Integer)

@import play.i18n._

@main(Messages.get("report.header"), "", "none", "none", "none", "", "", roleId, routes.Assets.versioned("javascripts/report.js").url) {
	<div class="welkom">
		<p class="welkom">@Messages.get("report.intro")</p>
	</div>
	
	@helper.form(action = routes.Report.writeCSV(), 'class -> "form-horizontal beheer-formulier", 'id -> "js-form") {
		<div class="report-start">
			<div class="form-group" id="report-start-div">
				<button class="knop" id="js-report-start-btn" type="submit">@Messages.get("start")</button>
			</div>
		</div>
		<input id="js-report-start-msg" type="hidden" value="@Messages.get("report.start.info")">
	}
}