@(title: String, description: String, location: String, fileId: String, fileIdDuplicate: Boolean, fileIdCharacter: Boolean, fileIdLength: Boolean, creator: String, 
	creatorOther: String, dateCreate: java.util.Date, subjectList: java.util.List[String], dateCreatePublicationCheck: Boolean, dateValidCheck: Boolean)

@import play.i18n._

<div id="js-form-validation-result">
	@if(title == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.title")</b>
			</div>
		</div>
	}
	@if(description == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.description")</b>
			</div>
		</div>
	}
	@if(location == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.location")</b>
			</div>
		</div>
	}
	@if(fileId == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.fileid")</b>
			</div>
		</div>
	}

	@if(fileIdDuplicate || fileIdCharacter || fileIdLength) {
		<input type="hidden" data-warning="true" class="fileid-message" data-message="@Messages.get("validate.form.fileid.warning.body.number.label") @fileId">
		<input type="hidden" data-warning="true" class="fileid-message" data-message="@Messages.get("validate.form.fileid.warning.body.1")">
		<input type="hidden" data-warning="true" class="fileid-message" data-message="@Messages.get("validate.form.fileid.warning.body.2")">
		<input type="hidden" data-warning="true" class="fileid-message" data-message="@Messages.get("validate.form.fileid.warning.body.3")">
	}
		
	@if(creator == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.creator")</b>
			</div>
		</div>
	}
	@if(creatorOther == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.creator.other")</b>
			</div>
		</div>
	}
	
	@if(dateCreate == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.date.create")</b>
			</div>
		</div>
	}
	
	@if(!dateCreatePublicationCheck) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.date.create.publish.check")</b>
			</div>
		</div>
	}
	
	@if(!dateValidCheck) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.date.valid.check")</b>
			</div>
		</div>
	}
	
	@if(subjectList == null) {
		<div>
			<div class="alert alert-danger" role="alert" data-error="true">
				<b>@Messages.get("validate.form.subject.list")</b>
			</div>
		</div>
	}
</div>