@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("about.header.intern") } else { 
	Messages.get("about.header") }, "") {
	<div class="content">
		<p>@play.Play.application().configuration().getString("portal.about.intro")</p>
		<p>@Messages.get("about.paragraph.2")</p>
		<p>@Messages.get("about.paragraph.3")</p>
		<p>@Messages.get("about.paragraph.4")</p>
		<p>@Messages.get("about.paragraph.5")</p>
		<p>@Messages.get("about.paragraph.6")</p>
		<p>@Messages.get("about.paragraph.7")</p>
		<p>@Messages.get("about.paragraph.8")</p>
		<p>@Messages.get("about.paragraph.9")</p>
		<p>@Html(Messages.get("about.paragraph.10"))</p>
		<p>@Html(Messages.get("about.paragraph.11"))</p>
		<p>@Messages.get("about.paragraph.12")</p>
		<p>@play.Play.application().configuration().getString("portal.about.aim")</p>
		<p>@Html(play.Play.application().configuration().getString("portal.about.email")) <a class="link" href="mailto:@play.Play.application().configuration().getString("portal.email")">@play.Play.application().configuration().getString("portal.email")</a></p>
	</div>
}