@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("about.header.intern") } else { 
	Messages.get("about.header") }, "") {
	<div class="content">
		<p>@play.Play.application().configuration().getString("portal.about.intro")</p>
		<p>@Messages.get("about.paragraph.1.2")</p>
		<p>@Messages.get("about.paragraph.1.3")</p>
		<p>@Messages.get("about.paragraph.1.4")</p>
		<p>@Messages.get("about.paragraph.1.5")</p>
		<p><b>@Messages.get("about.paragraph.header.2")</b></p>
		<p>@Messages.get("about.paragraph.2.1")</p>
		<p><b>@Messages.get("about.paragraph.header.3")</b></p>
		<p>@Messages.get("about.paragraph.3.1")</p>
		<p>@Messages.get("about.paragraph.3.2")</p>
		<p>@Html(Messages.get("about.paragraph.3.3"))</p>
		<p>@Html(Messages.get("about.paragraph.3.4"))</p>
		<p>@Messages.get("about.paragraph.3.5")</p>
		<p><b>@Messages.get("about.paragraph.header.4")</b></p>
		<p>@Html(Messages.get("about.paragraph.4.1"))</p>
		<p><b>@Messages.get("about.paragraph.header.5")</b></p>
		<p>@Messages.get("about.paragraph.5.1")</p>
		<p>@Html(Messages.get("about.paragraph.5.2"))</p>
		<p>@Messages.get("about.paragraph.5.3")</p>
		<ul>
			<li>@Html(Messages.get("about.paragraph.5.3.option.1"))</li>
			<li>@Html(Messages.get("about.paragraph.5.3.option.2"))</li>
			<li>@Html(Messages.get("about.paragraph.5.3.option.3"))</li>
			<li>@Html(Messages.get("about.paragraph.5.3.option.4"))</li>
		</ul>
		<p>@Messages.get("about.paragraph.5.4")</p>
		<p>@Messages.get("about.paragraph.5.5")</p>
		<p><b>@Messages.get("about.paragraph.header.6")</b></p>
		<p>@Messages.get("about.paragraph.6.1")</p>
		<p>@Html(Messages.get("about.paragraph.6.2"))</p>
		<p>@play.Play.application().configuration().getString("portal.about.aim")</p>
		<p>@Html(play.Play.application().configuration().getString("portal.about.email")) <a class="link" href="mailto:@play.Play.application().configuration().getString("portal.email")">@play.Play.application().configuration().getString("portal.email")</a></p>
	</div>
}