@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("about.header.intern") } else { 
	Messages.get("about.header") }, "") {
	<div class="content">
		<p>@Messages.get("about.paragraph.1")</p>
		<p>@Messages.get("about.paragraph.2")</p>
		<p>@Messages.get("about.paragraph.3")</p>
		<p>@Messages.get("about.paragraph.4")</p>
		<p>@Messages.get("about.paragraph.5")</p>
		<p>@Messages.get("about.paragraph.6")</p>
		<p>@Messages.get("about.paragraph.7")</p>
		<p>@Html(Messages.get("about.paragraph.8"))</p>
	</div>
}