@import play.i18n._

@main(Messages.get("browse.header"), routes.Assets.versioned("javascripts/result.js").url) {
	<div class="intro">
		<p>@Messages.get("browse.intro")</p>
	</div>
	
	@helper.form(action = routes.Index.index(), 'class -> "search-bar col-md-offset-1") {
		<div class="form-group">
			<span class="search-label">@Messages.get("search.label")</span>
		</div>
		<div class="form-group">
			<input class="form-control search-field" type="text" placeholder="@Messages.get("search.placeholder")"></input>
		</div>
		<div class="form-group">
			<button type="button" class="button-ovs" id="search-button">@Messages.get("button.search")</button>
		</div>
	}
	
	<div class="col-md-12">
		<div class="data-navigation">
			<div class="row">
				<span class="col-md-3">1 @Messages.get("result.count.label.one")</span>
				<div class="pull-right">
					<div class="row btn-group btn-group-sm">
							<button id="previous" type="button" class="btn btn-default">&laquo;</button>
							<button id="data-page-1" type="button" class="btn btn-default">1</button>
							<button id="next" type="button" class="btn btn-default">&raquo;</button>
					</div>
					<div class="row" id="expand-area">
						<label class="checkbox-inline">
							<input id="js-expand-all" type="checkbox">
							<span id="js-label-expand-all">@Messages.get("results.expand")</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" id="header-subjects">
		<div class="col-md-12">
			<span id="browse-info">@Messages.get("browse.subject.list.label")</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4" id="subjects-list">
			<div id="subject-selection-buttons">
				<button id="js-subject-select-all" type="button" class="button-ovs">@Messages.get("browse.button.select.all")</button>
				<button id="js-subject-select-none" type="button" class="button-ovs">@Messages.get("browse.button.select.nothing")</button>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="inlandWaters" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.inlandwaters")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="structure" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.structure")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="society" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.society")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="economy" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.economy")</span>
				</label>
			</div>				
			<div>
				<label class="checkbox-inline">
					<input id="biota" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.biota")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="geoscientificInformation" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.geoscientificinformation")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="health" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.health")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="boundaries" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.boundaries")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="elevation" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.elevation")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="climatologyMeteorologyAtmosphere" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.climatologymeteorologyatmosphere")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="farming" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.farming")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="location" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.location")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="intelligenceMilitary" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.intelligencemilitary")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="environment" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.environment")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="utilitiesCommunication" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.utilitiescommunication")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="oceans" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.oceans")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="imageryBaseMapsEarthCover" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.imagerybasemapsearthcover")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="planningCadastre" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.planningcadastre")</span>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input id="transportation" class="js-subject" type="checkbox" checked><span>@Messages.get("browse.subject.transportation")</span>
				</label>
			</div>
		</div>
		<div class="col-md-7" id="browse-area">
			<div class="browse-metadata">
				<div class="row">
					<div class="col-md-12 browse-title">
						<p class="title">
							<a class="title">Essen (22-Dec-2014, Provincie Overijssel)</a>
						</p>
					</div>
					<div class="col-md-12 description">
						<p>De essen in Overijssel. Het essenbestand is samengesteld uit 2 bronbestanden. Enerzijds bestaat 
						het bestand uit de hoge bruine en zwarte enkeerdgronden uit de bodemkaart (Alterra), anderzijds zijn op basis van diverse 
						kenmerken (hoogte, grondsoort, historisch grondgebruik etc.) de essen bepaald. Dit project heeft plaatsgevonden...</p>
						
						<a class="link">@Messages.get("button.metadata")</a>
						<button class="link" type="submit">@Messages.get("button.download")</button>
					</div>
				</div>
			</div>
			<div class="browse-metadata">
				<div class="row">
					<div class="col-md-12 browse-title">
						<p class="title">
							<a class="title">Essen (22-Dec-2014, Provincie Overijssel)</a>
						</p>
					</div>
					<div class="col-md-12 description">
						<p>De essen in Overijssel. Het essenbestand is samengesteld uit 2 bronbestanden. Enerzijds bestaat 
						het bestand uit de hoge bruine en zwarte enkeerdgronden uit de bodemkaart (Alterra), anderzijds zijn op basis van diverse 
						kenmerken (hoogte, grondsoort, historisch grondgebruik etc.) de essen bepaald. Dit project heeft plaatsgevonden...</p>
						
						<a class="link">@Messages.get("button.metadata")</a>
						<button class="link" type="submit">@Messages.get("button.download")</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}