@(subjects: java.util.List[com.querydsl.core.Tuple],
	documents: java.util.List[models.DocSubject],
	sdf: java.text.SimpleDateFormat,
	textSearch: String,
	subjectsString: String,
	count: Integer,
	start: Integer,
	startPrevious: Integer,
	startNext: Integer,
	startLast: Integer,
	pageLast: Integer
)

@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("browse.header.intern") } else { 
	Messages.get("browse.header") }, routes.Assets.versioned("javascripts/result.js").url) {
	<div class="intro">
		<p>@Messages.get("browse.intro")</p>
	</div>
	
	@helper.form(action = routes.Application.searchText(), 'class -> "search-bar col-md-offset-1") {
		<div class="form-group">
			<span class="search-label">@Messages.get("search.label")</span>
		</div>
		<div class="form-group">
			<input class="form-control search-field" type="text" placeholder="@Messages.get("search.placeholder")" name="text" value="@textSearch"></input>
			<input type="hidden" id="js-element-string" name="elementsString" value="@subjectsString">
			<input type="hidden" name="page" value="browse">
		</div>
		<div class="form-group">
			<button type="submit" class="button-ovs" id="search-button">@Messages.get("button.search")</button>
		</div>
	}
	
	<div id="js-browse-results-all">
		@views.html.browseresult(subjects, documents, sdf, textSearch, subjectsString, count, start, startPrevious, startNext, startLast, pageLast)
	</div>
	
	<input type="hidden" id="js-start-current" value="@start">
	<input type="hidden" id="js-text-search" value="@textSearch">
}