@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("contact.header.intern") } else { 
	Messages.get("contact.header") }, "") {
	<div class="content">
		<p>@play.Play.application().configuration().getString("portal.contact.intro")</p>
		<p>@Messages.get("contact.paragraph.2")</p>
		<p>@Html(play.Play.application().configuration().getString("portal.contact.email")) <a class="link" href="mailto:@play.Play.application().configuration().getString("portal.email")">@play.Play.application().configuration().getString("portal.email")</a></p>
	</div>
}