@import play.i18n._

@main(if("intern".equals(play.Play.application().configuration().getString("portal.access"))) { Messages.get("help.header.intern") } else { 
	Messages.get("help.header") }, "") {
	<div class="content">
		<p><b>@Messages.get("help.paragraph.header.1")</b></p>
		<p>@Messages.get("help.paragraph.1.1")</p>
		<p>@Messages.get("help.paragraph.1.2")</p>
		<p><b>@Messages.get("help.paragraph.header.2")</b></p>
		<p>@Html(Messages.get("help.paragraph.2.1"))</p>
		<p><b>@Messages.get("help.paragraph.header.3")</b></p>
		<p>@Messages.get("help.paragraph.3.1")</p>
		<p>@Messages.get("help.paragraph.3.2")</p>
		<p><b>@Messages.get("help.paragraph.header.4")</b></p>
		<p>@Html(Messages.get("help.paragraph.4.1"))</p>
		<p><b>@Messages.get("help.paragraph.header.5")</b></p>
		<p>@Html(Messages.get("help.paragraph.5.1"))</p>
		<p>@Messages.get("help.paragraph.5.2")</p>
		<p>--</p>
		<p>@Html(Messages.get("help.paragraph.6.1"))</p>
		<p><b>@Messages.get("help.paragraph.header.7")</b></p>
		<p>@Messages.get("help.paragraph.7.1")</p>
		<p>@Messages.get("help.paragraph.7.2")</p>
		<p>@Html(play.Play.application().configuration().getString("portal.help.email")) <a class="link" href="mailto:@play.Play.application().configuration().getString("portal.email")">@play.Play.application().configuration().getString("portal.email")</a></p>
	</div>
}