@(documents: java.util.List[com.querydsl.core.Tuple],
	sdf: java.text.SimpleDateFormat
)

@import play.i18n._
@import models.QDocument.document;
@import models.QMdType.mdType;

@main(Messages.get("index.header"), routes.Assets.versioned("javascripts/result.js").url) {
	<div class="intro">
		<p>@Messages.get("index.intro")</p>
	</div>
	
	
	@helper.form(action = routes.Index.index(), 'class -> "search-bar col-md-offset-1") {
		<div class="form-group">
			<span class="search-label">@Messages.get("search.label")</span>
		</div>
		<div class="form-group">
			<input class="form-control search-field" type="text" placeholder="@Messages.get("search.placeholder")"></input>
		</div>
		<div class="form-group">
			<button type="button" class="button-ovs" id="search-button">@Messages.get("button.search")</button>
		</div>
	}
	
	<div class="header-recent-files">
		<div class="col-md-12">
			<span class="files-info">@Messages.get("index.files.info.recent")</span>
		</div>
	</div>
		
	<div class="col-md-11 col-md-offset-1">
		@for(doc <- documents) {
			<div class="home-metadata">
				<div class="row">
					<div class="col-md-12">
						<p class="title">
							<a class="title">@doc.get(document.title) (@sdf.format(doc.get(document.date).getTime()), @doc.get(document.creator))</a>
						</p>
					</div>
					<div class="col-md-12">
						<p>
							@if(doc.get(document.thumbnail) != null) {
								<img src="@doc.get(document.thumbnail)" class="md-thumbnail">
							}
							
							@if(doc.get(document.description).length > 460) {
								@doc.get(document.description).substring(0, 460)...
							} else {
								@doc.get(document.description)
							}
						</p>
						
						<a class="link">@Messages.get("button.metadata")</a>
						@if(!doc.get(mdType.name).equals("service")) {
							<button class="link" type="button">@Messages.get("button.download")</button>
						}
					</div>
				</div>
			</div>
		}
	</div>
}