@main("Home") {
	
<div class="welkom">
	<p>Welkom bij het Geoportaal van de provincie Overijssel. Hier kunt u zoeken naar kaarten van de 
	provincie. Er zijn beschrijvingen en voorbeeldkaartjes te vinden. Ook zijn veel bestanden vrij beschikbaar voor 
	eigen gebruik. Heeft u vragen, aarzel dan niet om contact met ons op te nemen. De informatie in het portaal wordt 
	voortdurend actueel gehouden.</p>
</div>


@helper.form(action = routes.Index.index(), 'class -> "search-bar col-md-offset-1") {
	<div class="form-group">
		<span class="search-label">Zoek</span>
	</div>
	<div class="form-group">
		<input class="form-control search-field" type="text" placeholder="Zoek op term"></input>
	</div>
	<div class="form-group">
		<button type="button" class="knop" id="search-button">Zoek</button>
	</div>
}

<div class="header-recent-files">
	<div class="col-md-12">
		<span class="files-info">Vijf meest recente bestanden:</span>
	</div>
</div>
	
<div class="metadata-paragraph">
	<div class="home-metadata">
		<div class="row">
			<div class="col-md-12">
				<p class="titel">
					<a class="titel">Essen (22-Dec-2014, Provincie Overijssel)</a>
				</p>
			</div>
			<div class="col-md-12">
				<p>De essen in Overijssel. Het essenbestand is samengesteld uit 2 bronbestanden. Enerzijds bestaat 
				het bestand uit de hoge bruine en zwarte enkeerdgronden uit de bodemkaart (Alterra), anderzijds zijn op basis van diverse 
				kenmerken (hoogte, grondsoort, historisch grondgebruik etc.) de essen bepaald. Dit project heeft plaatsgevonden...</p>
				
				<a class="link">Metadata</a>
				<button class="link" type="button">Download</button>
			</div>
		</div>
	</div>
</div>
}