@(title: String, jsMain: String)(content: Html)

@import play.i18n._

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		@if("intern".equals(play.Play.application().configuration().getString("portal.access"))) {
			<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/intern.css")">
		}
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
		
		
	</head>
	<body>
	<div class="page">
		<div>
			<a>
				<img src="@routes.Assets.versioned("images/logo_overijssel.png")"></img>
			</a>
			@if("intern".equals(play.Play.application().configuration().getString("portal.access"))) {
				<a class="btn btn-default pull-right" href="@play.Play.application().configuration().getString("admin.url")" target="_blank">
					@Messages.get("button.admin")
				</a>
			}
		</div>
		
		<div class="header">
			<h1 class="header">@title</h1>
		</div>
		
		<div class="grid">
			<div class="tabs">
				<a href="@routes.Application.index()">
					<div class="task-element" id="js-element-index">
						<div class="task-outer">
							<div class="@if(title == Messages.get("index.header") || title == Messages.get("index.header.intern")) {task-inner-active} else {
								task-inner}">
								<div class="tab-element" id="home-icon" style="background-image:url(@routes.Assets.versioned("images/home.png"))">
									<span class="task-title">
										@Messages.get("tab.index")
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				<a href="@routes.Application.search()">
					<div class="task-element" id="js-element-index">
						<div class="task-outer">
							<div class="@if(title == Messages.get("search.header") || title == Messages.get("search.header.intern")) {task-inner-active} else {
								task-inner}">
								<div class="tab-element" id="search-icon" style="background-image:url(@routes.Assets.versioned("images/search.png"))">
									<span class="task-title">
										@Messages.get("tab.search")
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				<a href="@routes.Application.browse()">
					<div class="task-element" id="js-element-index">
						<div class="task-outer">
							<div class="@if(title == Messages.get("browse.header") || title == Messages.get("browse.header.intern")) {task-inner-active} else {
								task-inner}">
								<div class="tab-element" id="browse-icon" style="background-image:url(@routes.Assets.versioned("images/browse.png"))">
									<span class="task-title">
										@Messages.get("tab.browse")
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				<a href="@routes.Application.about()">
					<div class="task-element" id="js-element-index">
						<div class="task-outer">
							<div class="@if(title == Messages.get("about.header") || title == Messages.get("about.header.intern")) {task-inner-active} else {
								task-inner}">
								<div class="tab-element" id="about-icon" style="background-image:url(@routes.Assets.versioned("images/about.png"))">
									<span class="task-title">
										@Messages.get("tab.about")
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				<a href="@routes.Application.contact()">
					<div class="task-element" id="js-element-index">
						<div class="task-outer">
							<div class="@if(title == Messages.get("contact.header") || title == Messages.get("contact.header.intern")) {task-inner-active} else {
								task-inner}">
								<div class="tab-element" id="contact-icon" style="background-image:url(@routes.Assets.versioned("images/contact.png"))">
									<span class="task-title">
										@Messages.get("tab.contact")
									</span>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			@content
		</div>
		@if(!"".equals(jsMain)) {
			<script src="@routes.Assets.versioned("lib/dojo/dojo/dojo.js")" type="text/javascript"></script>
			<script src="@jsMain" type="text/javascript"></script>
			<script src="@routes.Application.jsRoutes()" type="text/javascript"></script>
		}
	</body>
</html>