@(documents: java.util.List[com.querydsl.core.Tuple],
	sdf: java.text.SimpleDateFormat,
	textSearch: String,
	types: java.util.List[String],
	typesString: String,
	count: Integer,
	page: Integer,
	start: Integer,
	startPrevious: Integer,
	startNext: Integer,
	startLast: Integer,
	pageLast: Integer,
	expand: Boolean,
	sort: String
)

@import play.i18n._
@import play.mvc.Http
@import models.QDocument.document
@import models.QMdType.mdType

@date(doc: com.querydsl.core.Tuple) = {@if(doc.get(document.dateDataset) != null) {@sdf.format(doc.get(document.dateDataset))} else {@if(doc.get(document.dateDescription) != null) {@sdf.format(doc.get(document.dateDescription))} else {@Messages.get("metadata.date.none")}}}

<div class="data-control">
	<div class="pull-left">
		<div class="page-information">
			<span>@if(count == 0) {@Messages.get("result.count.label.zero")}
				@if(count == 1) {@count @Messages.get("result.count.label.one")} @if(count > 1) {
					@count @Messages.get("result.count.label.multiple")}@if(count > 0) {, pagina @page}</span>
		</div>
		<div class="filter-options">
			<div>
				<label class="checkbox-inline">
					<input class="js-data-type" type="checkbox" data-md-type="dataset"
					@if(types.indexOf("dataset") != -1) {checked}>
						@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.dataset")</strong>
				</label>
			</div>
			@if("intern".equals(play.Play.application().configuration().getString("portal.access"))) {
				<div>
					<label class="checkbox-inline">
						<input class="js-data-type" type="checkbox" data-md-type="datasetArchived"
						@if(types.indexOf("datasetArchived") != -1) {checked}>
							@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.dataset.archived")</strong>
					</label>
				</div>
			}
			<div>
				<label class="checkbox-inline">
					<input class="js-data-type" type="checkbox" data-md-type="service"
					@if(types.indexOf("service") != -1) {checked}>
						@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.service")</strong>
				</label>
			</div>
			<div>
				<label class="checkbox-inline">
					<input class="js-data-type" type="checkbox" data-md-type="dc"
					@if(types.indexOf("dc") != -1) {checked}>
						@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.dc")</strong>
				</label>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<div id="nav-top">
			<nav>
				<ul id="pager-adjusted" class="pager">
					<li class="@if(start.equals(0)) {disabled paging-disabled}">
						<a href="@routes.Application.search(0, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.first")</a>
					</li>
					<li class="@if(start.equals(0)) {disabled paging-disabled}">
						<a href="@routes.Application.search(startPrevious, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.previous")</a>
					</li>
					<li class="@if(startNext >= count) {disabled paging-disabled}">
						<a href="@routes.Application.search(startNext, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.next")</a>
					</li>
					<li class="@if(startNext >= count) {disabled paging-disabled}">
						<a href="@routes.Application.search(startLast, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.last") (@pageLast)</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="display-options">
			<div id="expand-area">
				<label class="checkbox-inline">
					<input id="js-expand-all" class="js-expand-all-evt" type="checkbox" @if(expand) {checked}>
					<span id="js-label-expand-all">@Messages.get("results.expand")</span>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="sort-records" id="sort-dataset" value="sortDataset"@if(!"sortDescription".equals(sort)) { checked}>
					@Messages.get("metadata.sort.dataset")
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="sort-records" id="sort-description" value="sortDescription"@if("sortDescription".equals(sort)) { checked}>
					@Messages.get("metadata.sort.description")
				</label>
			</div>
		</div>
	</div>
</div>

<div class="col-md-11 col-md-offset-1">
	@for(doc <- documents) {
		<div class="search-metadata" data-md-type="@doc.get(mdType.name)">
			<div class="row">
				<div class="col-md-12">
					<p class="title">
						<a class="md-title" href="@routes.Application.getMetadata(doc.get(mdType.name), doc.get(document.uuid))" target="_blank">
							@doc.get(document.title) (@date(doc), @doc.get(document.creator))@if("service".equals(doc.get(mdType.name))){@if("view".equals(doc.get(document.typeService))){ - WMS}@if("download".equals(doc.get(document.typeService))){ - WFS}}
						</a>
					</p>
				</div>
				<div class="col-md-12 description @if(!expand) {metadata-collapsed}">
					<p>
						@if(doc.get(document.thumbnail) != null) {
							<a href="@doc.get(document.thumbnail)" target="_blank">
								<img src="@doc.get(document.thumbnail)" class="md-thumbnail">
							</a>
						}
						
						@if(doc.get(document.description) != null) {
							@if(doc.get(document.description).length > 460) {
								@doc.get(document.description).substring(0, 460)...
							} else {
								@doc.get(document.description)
							}
						} else {
							@Messages.get("metadata.description.none")
						}
					</p>
					
					@views.html.metadatalink(doc.get(mdType.name), doc.get(document.uuid))
					@views.html.viewerlink(doc.get(document.viewerUrl))
					@if("dataset".equals(doc.get(mdType.name)) 
						&& (doc.get(document.downloadable).equals(true) 
								|| "intern".equals(play.Play.application().configuration().getString("portal.access")))
						&& doc.get(document.wmsOnly).equals(false) 
						&& doc.get(document.published).equals(true) 
						&& "vector".equals(doc.get(document.spatialSchema))) {
						@views.html.downloadlink(doc.get(document.uuid))
					}
				</div>
			</div>
		</div>
	}
	
	@if(count != 0) {
		<div id="nav-bottom">
			<nav>
				<ul id="pager-adjusted" class="pager">
					<li class="@if(start.equals(0)) {disabled paging-disabled}">
						<a href="@routes.Application.search(0, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.first")</a>
					</li>
					<li class="@if(start.equals(0)) {disabled paging-disabled}">
						<a href="@routes.Application.search(startPrevious, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.previous")</a>
					</li>
					<li class="@if(startNext >= count) {disabled paging-disabled}">
						<a href="@routes.Application.search(startNext, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.next")</a>
					</li>
					<li class="@if(startNext >= count) {disabled paging-disabled}">
						<a href="@routes.Application.search(startLast, textSearch, typesString, false, expand, sort)" class="js-nav-button">@Messages.get("button.last") (@pageLast)</a>
					</li>
				</ul>
			</nav>
		</div>
	}
</div>

<input type="hidden" id="js-page" value="search">
<input type="hidden" id="js-expand-value" value="@expand">