@(mdTypes: java.util.List[com.querydsl.core.Tuple], 
	documents: java.util.List[com.querydsl.core.Tuple],
	sdf: java.text.SimpleDateFormat,
	typesString: String,
	count: Integer,
	start: Integer,
	startPrevious: Integer, 
	startNext: Integer,
	startLast: Integer,
	pageLast: Integer	
)

@import play.i18n._
@import play.mvc.Http
@import models.QDocument.document;
@import models.QMdType.mdType
@import models.QMdTypeLabel.mdTypeLabel

@main(Messages.get("search.header"), routes.Assets.versioned("javascripts/result.js").url) {
	<div class="intro">
		<p>@Messages.get("search.intro")</p>
	</div>
	
	@helper.form(action = routes.Index.index(), 'class -> "search-bar col-md-offset-1") {
		<div class="form-group">
			<span class="search-label">@Messages.get("search.label")</span>
		</div>
		<div class="form-group">
			<input class="form-control search-field" type="text" placeholder="@Messages.get("search.placeholder")"></input>
		</div>
		<div class="form-group">
			<button type="button" class="button-ovs" id="search-button">@Messages.get("button.search")</button>
		</div>
	}
	
	<div id="js-search-results-all">
		@views.html.searchresult(mdTypes, documents, sdf, typesString, count, start, startPrevious, startNext, startLast, pageLast)
	</div>
	
	<input type="hidden" id="js-start-current" value="@start">
}