@(documents: java.util.List[com.querydsl.core.Tuple],
	sdf: java.text.SimpleDateFormat,
	textSearch: String,
	typesString: String,
	count: Integer,
	page: Integer,
	start: Integer,
	startPrevious: Integer,
	startNext: Integer,
	startLast: Integer,
	pageLast: Integer,
	expand: Boolean
)

@import play.i18n._
@import play.mvc.Http
@import models.QDocument.document
@import models.QMdType.mdType

<div>
	<div class="data-navigation">
		<div class="row">
			<span class="col-md-3">@if(count == 0) {@Messages.get("result.count.label.zero")}
				@if(count == 1) {@count @Messages.get("result.count.label.one")} @if(count > 1) {
					@count @Messages.get("result.count.label.multiple")}@if(count > 0) {, pagina @page}</span>
			<div class="pull-right">
				<div class="row btn-group btn-group-sm">
					<nav>
						<ul id="pager-adjusted" class="pager">
							<li class="@if(start.equals(0)) {disabled paging-disabled}">
								<a href="@routes.Application.search(0, textSearch, typesString, false, expand)" class="js-nav-button">@Messages.get("button.first")</a>
							</li>
							<li class="@if(start.equals(0)) {disabled paging-disabled}">
								<a href="@routes.Application.search(startPrevious, textSearch, typesString, false, expand)" class="js-nav-button">@Messages.get("button.previous")</a>
							</li>
							<li class="@if(startNext >= count) {disabled paging-disabled}">
								<a href="@routes.Application.search(startNext, textSearch, typesString, false, expand)" class="js-nav-button">@Messages.get("button.next")</a>
							</li>
							<li class="@if(startNext >= count) {disabled paging-disabled}">
								<a href="@routes.Application.search(startLast, textSearch, typesString, false, expand)" class="js-nav-button">@Messages.get("button.last") (@pageLast)</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="row" id="expand-area">
					<label class="checkbox-inline">
						<input id="js-expand-all" class="js-expand-all-evt" type="checkbox" @if(expand) {checked}>
						<span id="js-label-expand-all">@Messages.get("results.expand")</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="filter-options">
		<div class="row">
			<label class="checkbox-inline">
				<input class="js-data-type" type="checkbox" data-md-type="dataset"
				@if(typesString.contains("dataset")) {checked}>
					@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.dataset")</strong>
			</label>
		</div>
		<div class="row">
			<label class="checkbox-inline">
				<input class="js-data-type" type="checkbox" data-md-type="service"
				@if(typesString.contains("service")) {checked}>
					@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.service")</strong>
			</label>
		</div>
		<div class="row">
			<label class="checkbox-inline">
				<input class="js-data-type" type="checkbox" data-md-type="dc"
				@if(typesString.contains("dc")) {checked}>
					@Messages.get("search.checkboxes.label") <strong>@Messages.get("metadata.type.dc")</strong>
			</label>
		</div>
	</div>
</div>

<div class="col-md-11 col-md-offset-1">
	@for(doc <- documents) {
		<div class="search-metadata" data-md-type="@doc.get(mdType.name)">
			<div class="row">
				<div class="col-md-12">
					<p class="title">
						<a class="md-title" data-uuid="@doc.get(document.uuid)">
							@doc.get(document.title) (@sdf.format(doc.get(document.date).getTime()), @doc.get(document.creator))@if("service".equals(doc.get(mdType.name))){@if("view".equals(doc.get(document.typeService))){ - WMS}@if("download".equals(doc.get(document.typeService))){ - WFS}}
						</a>
					</p>
				</div>
				<div class="col-md-12 description @if(!expand) {metadata-collapsed}" data-uuid="@doc.get(document.uuid)">
					<p>
						@if(doc.get(document.thumbnail) != null) {
							<a href="@doc.get(document.thumbnail)" target="_blank">
								<img src="@doc.get(document.thumbnail)" class="md-thumbnail">
							</a>
						}
						
						@if(doc.get(document.description).length > 460) {
							@doc.get(document.description).substring(0, 460)...
						} else {
							@doc.get(document.description)
						}
					</p>
					
					@views.html.metadatalink(doc.get(mdType.name), doc.get(document.uuid))
					@if("dataset".equals(doc.get(mdType.name)) && doc.get(document.downloadable).equals(true) && doc.get(document.published).equals(true) 
						&& "vector".equals(doc.get(document.spatialSchema))) {
						@views.html.downloadlink(doc.get(document.uuid))
					}
				</div>
			</div>
		</div>
	}
</div>

<input type="hidden" id="js-page" value="search">
<input type="hidden" id="js-expand-value" value="@expand">