html {overflow-y:scroll;overflow-x:hidden;}
body {background-color:#FFFFFF;margin:0px auto 20px auto;font-family:Verdana;border-left:1px solid #AAAAAA;border-right:1px solid #AAAAAA;
	width:1100px;padding:0px 20px;box-sizing:content-box;}

div {display:block;}
p {line-height:25px;font-size:16px;margin-top:0;margin-bottom:0;}

div.logo {margin-top:20px;margin-bottom:20px;}
div.titelbalk {margin-top:20px;margin-bottom:20px;}
h1.header {padding:.3em .5em;border-radius:0 12px 0 0;background-color:#831625;margin-left:0;margin-right:0;color:#ffffff;font-size:1.625em;
	font-weight:bold;font-style:normal;line-height:47px;}
	
.grid {margin-top:20px;margin-bottom:20px;padding-top:5px;padding-bottom:5px;}
.grid:after {content:'';display:block;clear:both;}
.toptaak-element {float:left;width:49.95%;height:85px;display:block;}
.toptaak-outer {height:100%;padding:1px;}
.toptaak-inner {height:100%;background-color:#255c9f;}
.toptaak-inner-active {height:100%;background-color:#0096D2;}
.toptaak-inner:hover {background-color:#0096D2;cursor:pointer;}
.toptaak-titel {color:#ffffff;display:inline-block;text-align:left;margin-top:13px;margin-left:50px;line-height:1.2em;font-size:18px;
	padding-right:20px;width:100%;}

div.welkom {margin-top:20px;margin-bottom:20px;padding:10px 0;}
div.info {margin-top:20px;margin-bottom:20px;padding:10px 0;}
p.titel {font-weight:bold;font-size:21px;line-height:25px;margin-top:25px;margin-bottom:25px;}
p.alineastart {margin-top:20px;}
#knoppen {margin-top:40px;margin-bottom:40px;}
.knop {background-color:#831625;color:#ffffff;font-weight:bold;padding:6px 12px;border:1px solid transparent;border-radius: 4px;}
.knop:hover {text-decoration:none;background-color:#DC0000;color:#ffffff;}
.knop:focus {background-color:#DC0000;color:#ffffff;text-decoration:none;}
.help-knop {padding-top:7px;padding-bottom:8px;line-height:20px;}

div.tabs {margin-left:auto;margin-right:auto;width:40%;}
div.tabs:after {content:'';display:block;clear:both;}
div.tab-element {height:100%;width:100%;background-position:15px 15px;width:155px !important;height:80px !important;
	background-repeat:no-repeat;background-size:25px;}

#edit-supplier-select {display:none;width:unset;}
.admin-buttons {margin-top:10px;margin-bottom:10px;margin-left:20px;position:relative;left:-13px;}
div.overzicht-records {margin-top:20px;margin-bottom:20px;margin-left:20px;}
div.alle-records {margin-top:20px;margin-bottom:20px;margin-left:20px;}
div.label-actions-selected-records {margin-top:20px;margin-bottom:10px;margin-left:20px;position:relative;left:-13px;}
div.editor-knoppen {margin-bottom:20px;margin-left:15px;}

#js-form-warning-fields, #js-form-warning-subjects {display:none;}
#js-other-creator {display:none;}
#js-form-approval {display:none;}
input[type="file"].input-attachment {display:inline;}
#js-cancel-form {line-height:20px;padding:7.5px 12px;}

#search-button {padding-left:12px;padding-right:12px;position:relative;top:-1px;}
#help-button {line-height:20px;padding:7.5px 12px;}
#filter-button {line-height:20px;padding:7.5px 12px;}

.delete-attachment-button {position:relative;top:2px;}
.delete-attachment-button:hover {cursor:pointer;}

#attachment-files-box {margin-bottom:15px;left:-8px;}
.attachment-file {font-size:14px;}

.action-button {font-size:18px;}
#btn-search-hide {margin-top:10px;margin-bottom:10px;position:relative;right:-12px;}
#list-pager {position:relative;left:18px;top:-25px;}

.js-index-page-2 {display:none;}
.js-index-page-3 {display:none;}
.js-index-page-4 {display:none;}
.js-index-page-5 {display:none;}
.js-index-page-6 {display:none;}
.js-index-page-7 {display:none;}
.js-index-page-8 {display:none;}
.js-index-page-9 {display:none;}
.js-index-page-10 {display:none;}

.js-page-status {cursor:pointer;}

#perm-delete-checkbox {margin-top:15px;}

.add-icon {background-position:-15px 15px;}
.search-icon {background-position:25px 15px;}