.panel-heading {
	height: 113px;
}

.announcement-glyphicon {
	font-size:32px;
}

.announcement-heading {
	font-size:15px;
}

.portal-stats {
	margin-top:10px;
}

.portal-stats-addition, .datasource-connected {
	background-color: #dff0d8;
}

.portal-stats-no-change {
	background-color: #fcf8e3;
}

.portal-stats-subtraction, .datasource-not-connected {
	background-color: #f2dede;
}