body {
	background-color:#ffffff;
	font-family:Verdana;
}

body.background-acceptance {
	background-color:#f3f7d4;
}

h1 {
	padding:.3em .5em;
	border-radius:0 12px 0 0;
	background-color:#255c9f;
	color:#ffffff;
	font-size:1.625em;
	font-weight:bold;
	line-height:47px;
}

.page {
	margin:0px auto 20px auto;
	width:1100px;
	padding:0px 20px;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
}

.logo, .titleheader {
	margin-top:20px;
	margin-bottom:20px;
}